<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
  <div class="container">
    <div class="left-section">
      <a class="logo" href="/"
        ><img
          loading="lazy"
          decoding="async"
          src="/assets/svgs/hli-logo6.svg"
          alt="logo"
          width="1654"
          height="607"
      /></a>
      <div class="logo-box">
        <a
          href="https://www.facebook.com/p/Nature-Springs-Landscaping-61562707596944/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <picture>
            <img
              aria-label="view our facebook page"
              decoding="async"
              loading="lazy"
              src="/assets/svgs/facebook.svg"
              alt="view our facebook"
              width="48"
              height="48"
            />
          </picture>
        </a>
        <a
          href="https://www.instagram.com/naturespringslandscaping/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <picture>
            <img
              aria-label="view our instagram page"
              decoding="async"
              loading="lazy"
              src="/assets/svgs/instagram.svg"
              alt="view our instagram"
              width="50"
              height="50"
            />
          </picture>
        </a>
        <a
          href="https://maps.app.goo.gl/u7QcYV9VkqDibf6V7"
          target="_blank"
          rel="noopener noreferrer"
          alt="google page and reviews"
        >
          <picture>
            <img
              aria-label="checkout our google reviews"
              decoding="async"
              loading="lazy"
              src="/assets/svgs/google.svg"
              alt="google page and reviews"
              width="45"
              height="45"
            />
          </picture>
        </a>
        <a href="mailto:{{client.email}}" alt="click to email us">
          <picture>
            <img
              aria-label="click to email us today"
              decoding="async"
              loading="lazy"
              src="/assets/svgs/mail1.svg"
              alt="click to email us"
              width="48"
              height="48"
            />
          </picture>
        </a>
        <a
          href="https://www.tiktok.com/@houstonlandscape"
          target="_blank"
          rel="noopener noreferrer"
          alt="tiktok page"
        >
          <picture class="tik">
            <img
              aria-label="checkout our tiktok"
              decoding="async"
              loading="lazy"
              src="/assets/svgs/tik1.svg"
              alt="tiktok page"
              width="30"
              height="30"
            />
          </picture>
        </a>
      </div>
    </div>
    <div class="right-section">
      <div class="lists">
        <ul>
          <li>
            <h2>Information</h2>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/services">Services</a>
          </li>
          <li>
            <a href="/reviews">Reviews</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
        <ul>
          <li>
            <h2>Services</h2>
          </li>
          <li><a href="/landscaping">Landscaping</a></li>
          <li><a href="/lawncare">Lawn Care</a></li>
          <li><a href="/services#pb">Plant Beds</a></li>
          <li><a href="/services#f">Fencing</a></li>
          <li><a href="/services#pw">Pavers & Walkways</a></li>
          <li><a href="/services#sl">Sprinklers & Lighting</a></li>
          <li><a href="/services#fw">Fire & Water Features</a></li>
          <li><a href="/services#cr">Curbing & Retaining Walls</a></li>
          <li><a href="/services#ok">Outdoor Kitchens</a></li>
          <li><a href="/services#d">Drainage</a></li>
        </ul>
        <ul>
          <li>
            <h2>Contact</h2>
          </li>
          <li>
            <a href="/servicearea"> Service Areas</a>
          </li>
          <li>
            <a href="tel:{{client.phone}}">{{client.phoneFormatted}}</a>
          </li>
          <li>
            <a href="mailto:{{client.email}}">Click to Email</a>
          </li>
          <li>
            <a href="/contact" class="button-c">Contact Us</a>
          </li>
          <li>
            <a
              href="https://www.google.com/search?q=nature+springs+landscaping&sca_esv=86a7437669578f61&biw=1536&bih=766&ei=fzM-Z7KjDevIwN4PzvTFwQ8&ved=0ahUKEwjy3p_qzeuJAxVrJNAFHU56MfgQ4dUDCBA&uact=5&oq=nature+springs+landscaping&gs_lp=Egxnd3Mtd2l6LXNlcnAiGm5hdHVyZSBzcHJpbmdzIGxhbmRzY2FwaW5nMhEQLhiABBiRAhjHARiKBRivATIGEAAYFhgeMgYQABgWGB4yBhAAGBYYHjILEAAYgAQYhgMYigUyCxAAGIAEGIYDGIoFMgsQABiABBiGAxiKBTILEAAYgAQYhgMYigUyCBAAGIAEGKIEMggQABiABBiiBDIgEC4YgAQYkQIYxwEYigUYrwEYlwUY3AQY3gQY4ATYAQFI1gZQtgRYtgRwAXgAkAEAmAGdAaABnQGqAQMwLjG4AQPIAQD4AQGYAgKgAqYBwgILEAAYgAQYsAMYogTCAgsQABiwAxiiBBiJBZgDAIgGAZAGBboGBggBEAEYFJIHAzEuMaAHuwo&sclient=gws-wiz-serp#lrd=0x8640bf4e12cf95d7:0xbf9aece5ab707b8b,1,,,,"
              class="button-r"
              >Write A Review</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="credit">
    <span>Designed and Hand Coded by</span>
    <a href="/services" target="_blank" rel="noopener">MarketWare Solutions</a>
    <span class="copyright"> Copyright 2024 - Present</span>
  </div>
</footer>
                                
