---
title: 'Contact | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1519">
    <div class="cs-container">
        <span class="cs-int-title">Contact Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="contact/" class="cs-link cs-active">Contact Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
       <!--Mobile Image-->
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hli-plants.jpg" | resize({ width: 640, height: 820 }) | avif %}" type="image/avif">
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hli-plants.jpg" | resize({ width: 640, height: 820 }) | webp %}" type="image/webp">
       <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hli-plants.jpg" | resize({ width: 640, height: 820 }) | jpeg %}" type="image/jpeg">
       <!--Tablet Image-->
       <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hli-plants.jpg" | resize({ width: 2046, height: 962 }) | avif %}" type="image/avif">
       <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hli-plants.jpg" | resize({ width: 2046, height: 962 }) | webp %}" type="image/webp">
       <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hli-plants.jpg" | resize({ width: 2046, height: 962 }) | jpeg %}" type="image/jpeg">
       <!--Desktop Image-->
       <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hli-plants.jpg" | resize({ width: 3840, height: 1044 }) | avif %}" type="image/avif">
       <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hli-plants.jpg" | resize({ width: 3840, height: 1044 }) | webp %}" type="image/webp">
       <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hli-plants.jpg" | resize({ width: 3840, height: 1044 }) | jpeg %}" type="image/jpeg">
       <img src="{% getUrl "/assets/images/hli-plants.jpg" | resize({ width: 3840, height: 1044 }) | jpeg %}" alt="" width="1920" height="522" decoding="async" aria-hidden="true">
    </picture>
</div>
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1600">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Get In Touch</h2>
            <!--Form-->
            <form class="cs-form" id="cs-form-1600" name="Contact Form" method="post" data-netlify="true">
                <label class="cs-label cs-name">
                    Name
                    <input class="cs-input" required type="text" id="name-1600" name="name" placeholder="Name">
                </label>
                <label class="cs-label cs-phone">
                    Phone
                    <input class="cs-input" required type="phone" id="phone-1600" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="email" id="email-1600" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-address">
                    Address
                    <input class="cs-input" required type="text" id="address-1600" name="address" placeholder="Address">
                </label>
                <label class="cs-label cs-city">
                    City
                    <input class="cs-input" required type="text" id="city-1600" name="city" placeholder="City">
                </label>
                <label class="cs-label cs-postal-code">
                    Postal Code
                    <input class="cs-input" required type="text" id="postal-code-1600" name="postal-code" placeholder="Postal Code">
                </label>
                <label class="cs-label">
                    Budget
                    <select class="cs-input cs-budget" required name="budget" id="select-budget">
                    <option value="">Choose Your Budget</option>
                    <option value="Less than $10,000">Less than $10,000</option>
                    <option value="$10,000 - $15,000">$10,000 - $15,000</option>
                    <option value="$15,000 - $25,000">$15,000 - $25,000</option>
                    <option value="$25,000 +">$25,000 +</option>
                    </select>
                </label>
                <label class="cs-label">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1600" placeholder="Write message..."></textarea>
                </label>
                <label class="service-label">Services Needed:</label>
                <div class="cs-services">
                    <label class="check-title">Services Needed:</label>
                    <p class="hidden">
                    <input type="checkbox" name="service" value="" class="hidden" />
                    <label for="hidden" class="hidden">Services Needed</label>
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="plant-beds"
                        name="service"
                        value="Plant Beds"
                    />
                    <label class="label-box" for="plant-beds">Plant Beds</label>
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="pavers-walkways"
                        name="service"
                        value="Pavers & Walkways"
                    />
                    <label for="pavers-walkways">Pavers & Walkways</label>
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="patio-covers"
                        name="service"
                        value="Patio Covers"
                    />
                    <label for="patio-covers">Patio Covers</label>
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="fire-water"
                        name="service"
                        value="Fire & Water Features"
                    />
                    <label for="fire-water">Fire & Water Features</label>
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="curbing"
                        name="service"
                        value="Stone Border"
                    />
                    <label for="curbing">Stone Border</label>
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="retaining"
                        name="service"
                        value="Retaining Walls"
                    />
                    <label for="retaining">Retaining Walls</label>
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="outdoor-kitchen"
                        name="service"
                        value="Outdoor Kitchens"
                    />
                    <label for="outdoor-kitchen">Outdoor Kitchens</label>
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="drainage"
                        name="service"
                        value="Drainage"
                    />
                    <label for="drainage">Drainage</label>
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="patio"
                        name="service"
                        value="Patio"
                    />
                    <label for="patio"
                        >Patio</label
                    >
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="driveway-sidewalk"
                        name="service"
                        value="Driveway or Sidewalk"
                    />
                    <label for="driveway-sidewalk"
                        >Driveway or Sidewalk</label
                    >
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="concrete-overlay"
                        name="service"
                        value="Concrete Overlay"
                    />
                    <label for="concrete-overlay">Concrete Overlay</label>
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="pergolas"
                        name="service"
                        value="Pergolas"
                    />
                    <label for="pergolas">Pergolas</label>
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="lighting"
                        name="service"
                        value="Landscape Lighting"
                    />
                    <label for="lighting">Landscape Lighting</label>
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="christmas"
                        name="service"
                        value="Christmas Lighting"
                    />
                    <label for="christmas">Christmas Lighting</label>
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="putting"
                        name="service"
                        value="Putting Green"
                    />
                    <label for="putting">Putting Green</label>
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="synthetic-grass"
                        name="service"
                        value="Synthetic Grass"
                    />
                    <label for="synthetic-grass">Synthetic Grass</label>
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="tree-trimming"
                        name="service"
                        value="Tree Trimming"
                    />
                    <label for="tree-trimming">Tree Trimming</label>
                    </p>
                    <p>
                    <input
                        type="checkbox"
                        id="tree-removal"
                        name="service"
                        value="Tree Removal"
                    />
                    <label for="tree-removal">Tree Removal</label>
                    </p>
                </div>
                <button class="cs-button-solid cs-submit" type="submit">Submit Now</button>
            </form>
        </div>
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-header">Our Support</span>
                    <p class="cs-item-text">
                        We are available for your 24/7 support.<br>
                        <a class="cs-link" href="tell:555-555-5555">(832) 545-9435</a>                    
                    </p>
                </li>
                <li class="cs-item">
                    <span class="cs-header">Email Us</span>
                    <p class="cs-item-text">
                        Email your questions at
                        <a class="cs-link" href="mailto:houstonlandscapeimages@gmail.com">houstonlandscapeimages@gmail.com</a>     
                    </p>
                </li>
                <li class="cs-item">
                    <span class="cs-header">Reviews</span>
                    <p class="cs-item-text">
                        See Our reviews on Google or leave a review
                        <a href="https://www.google.com/maps/place/Houston+Landscape+Images/@29.6580284,-95.7479361,17z/data=!3m1!4b1!4m6!3m5!1s0x86411fb08a560d31:0xfcea71026d38ed74!8m2!3d29.6580284!4d-95.7479361!16s%2Fg%2F11fn9p8rfy?entry=ttu&g_ep=EgoyMDI1MDQwMi4xIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/google-1a.svg" alt="icon" loading="lazy" decoding="async" width="16" height="16" aria-hidden="true">
                            Google Reviews
                        </a>                   
                    </p>
                </li>
            </ul>
            <picture class="cs-background">
               <!--Mobile Image-->
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hli-landscaping3.jpg" | resize({ width: 576, height: 948 }) | avif %}" type="image/avif">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hli-landscaping3.jpg" | resize({ width: 576, height: 948 }) | webp %}" type="image/webp">
               <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hli-landscaping3.jpg" | resize({ width: 576, height: 948 }) | jpeg %}" type="image/jpeg">
               <!--Tablet Image-->
               <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hli-landscaping3.jpg" | resize({ width: 990, height: 1460 }) | avif %}" type="image/avif">
               <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hli-landscaping3.jpg" | resize({ width: 990, height: 1460 }) | webp %}" type="image/webp">
               <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hli-landscaping3.jpg" | resize({ width: 990, height: 1460 }) | jpeg %}" type="image/jpeg">
               <!--Desktop Image-->
               <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hli-landscaping3.jpg" | resize({ width: 1044, height: 1532 }) | avif %}" type="image/avif">
               <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hli-landscaping3.jpg" | resize({ width: 1044, height: 1532 }) | webp %}" type="image/webp">
               <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hli-landscaping3.jpg" | resize({ width: 1044, height: 1532 }) | jpeg %}" type="image/jpeg">
               <img src="{% getUrl "/assets/images/hli-landscaping3.jpg" | resize({ width: 1044, height: 1532 }) | jpeg %}" alt="" width="522" height="766" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
        </div>
        <picture class="cs-background1">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves-side.svg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves-side.svg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves-side.svg" alt="wave" width="1280" height="568">
        </picture>
    </div>
</section>
                                

{% include "components/cta.html" %}
                                
{% endblock %}