/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-1519 {
    padding: var(--sectionPadding);
    /* 190px - 268px */
    padding-top: clamp(11.875rem, 25vw, 16.75rem);
    /* 100px - 150px */
    padding-bottom: clamp(6.25rem, 12vw, 9.375rem);
    /* clips the line from causing overflow issues for going off screen */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #banner-1519 .cs-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* 8px - 12px */
    gap: clamp(0.5rem, 1vw, 0.75rem);
  }
  #banner-1519 .cs-int-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: #fff;
    position: relative;
  }
  #banner-1519 .cs-breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1519 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    text-decoration: none;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1519 .cs-link:last-of-type {
    /* remove the chevron on the last list item */
  }
  #banner-1519 .cs-link:last-of-type::after {
    display: none;
  }
  #banner-1519 .cs-link:after {
    /* chevron */
    content: '';
    width: 0.4375rem;
    height: 0.75rem;
    margin: 0 1rem;
    background: url("/assets/svgs/chevron.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
  }
  #banner-1519 .cs-link.cs-active {
    color: var(--primary);
  }
  #banner-1519 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #banner-1519 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(26, 26, 26, 0.94) 0%, rgba(26, 26, 26, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(26, 26, 26, 0.94) 0%, rgba(26, 26, 26, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #banner-1519 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #banner-1519 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(26, 26, 26, 0.94) 0%, rgba(26, 26, 26, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(26, 26, 26, 0.94) 0%, rgba(26, 26, 26, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #banner-1519 .cs-mask {
    --maskBG: var(--dark);
  }
}
/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-1600 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #contact-1600 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    /* 48px - 80px */
    gap: clamp(3rem, 6vw, 5rem);
  }
  #contact-1600 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 37.5rem;
    /* resets to 0 at tablet */
    margin: auto;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #contact-1600 .cs-title {
    margin: 0 0 2rem 0;
  }
  #contact-1600 input:focus {
    outline: 2px solid var(--primary);
    box-shadow: 0 0 0 2px rgba(var(--primaryRGB), 0.1);
  }
  #contact-1600 .cs-form {
    width: 100%;
    padding: 0;
    /* prevents flexbox from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
  }
  #contact-1600 .cs-label {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    width: 100%;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #contact-1600 .cs-label:last-of-type {
    margin-bottom: 2rem;
  }
  #contact-1600 .cs-input {
    font-size: 1rem;
    width: 100%;
    /* 46px - 56px */
    height: clamp(2.875rem, 4vw, 3.5rem);
    padding: 0;
    padding-left: 1.5rem;
    color: var(--headerColor);
    background-color: #f7f7f7;
    border: none;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
  }
  #contact-1600 .cs-input::placeholder {
    color: #7D799C;
    opacity: 0.6;
  }
  #contact-1600 .cs-input:focus {
    outline: 2px solid var(--primary);
    box-shadow: 0 0 0 2px rgba(var(--primaryRGB), 0.1);
    border-radius: 0.0625rem;
  }
  #contact-1600 .cs-textarea {
    min-height: 7.5rem;
    padding-top: 1.5rem;
    font-family: inherit;
  }
  #contact-1600 .cs-button-solid {
    display: block;
    font-size: 1rem;
    width: 100%;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    border: none;
    padding: 0 1.5rem;
    background-color: var(--primary);
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }
  #contact-1600 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #contact-1600 .cs-button-solid:hover {
    color: #fff;
  }
  #contact-1600 .cs-button-solid:hover:before {
    width: 100%;
  }
  #contact-1600 .cs-submit:hover {
    cursor: pointer;
  }
  #contact-1600 .cs-wrapper {
    /* 32px - 108px */
    padding: clamp(2rem, 8vw, 6.75rem) 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #contact-1600 .cs-card-group {
    width: 75%;
    max-width: 25.8125rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
    position: relative;
    z-index: 1;
  }
  #contact-1600 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    margin: 0;
    /* 16px - 40px top & Bottom */
    /* 24px - 40px left & right */
    padding: clamp(1rem, 4vw, 2.5rem) clamp(1.5rem, 5vw, 2.5rem);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    background-color: #fff;
    position: relative;
    z-index: 1;
  }
  #contact-1600 .cs-item:hover:before {
    opacity: 1;
  }
  #contact-1600 .cs-item:hover .cs-header {
    color: var(--primary);
  }
  #contact-1600 .cs-item:hover .cs-item-text,
  #contact-1600 .cs-item:hover .cs-link {
    color: var(--bodyTextColorWhite);
  }
  #contact-1600 .cs-item:hover .cs-text,
  #contact-1600 .cs-item:hover .cs-link {
    opacity: 0.8;
  }
  #contact-1600 .cs-item:hover .cs-link:hover {
    color: var(--primary);
  }
  #contact-1600 .cs-item:hover .cs-icon {
    filter: grayscale(1) brightness(1000%);
  }
  #contact-1600 .cs-item:before {
    /* hover border and background */
    content: '';
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #contact-1600 .cs-header {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    /* 12px - 16px */
    margin: 0 0 clamp(0.75rem, 1.6vw, 1rem);
    display: block;
    transition: color 0.3s;
  }
  #contact-1600 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
    transition: color 0.3s;
  }
  #contact-1600 .cs-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
    transition: color 0.3s;
  }
  #contact-1600 .cs-icon {
    width: 1rem;
    height: auto;
  }
  #contact-1600 .cs-background {
    height: 100%;
    width: 100%;
    max-width: 32.625rem;
    position: absolute;
    /* 60px - 188px */
    left: clamp(3.75rem, 9vw, 11.75rem);
    top: 0;
    z-index: -1;
  }
  #contact-1600 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #contact-1600 .cs-background1 {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #contact-1600 .cs-background1 img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
  #contact-1600 .hidden {
    display: none;
    visibility: hidden;
    height: 0%;
  }
  #contact-1600 .service-label {
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    width: 100%;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #contact-1600 .cs-services {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.25rem;
    margin-bottom: 0.75rem;
  }
  #contact-1600 .cs-services input {
    margin-bottom: 0.75rem;
  }
  #contact-1600 .cs-services input:focus {
    outline: none;
  }
  #contact-1600 .cs-services [type="checkbox"] {
    opacity: 0;
  }
  #contact-1600 .cs-services [type="checkbox"] + label {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    padding-left: 0.9375rem;
    line-height: 0.9rem;
    font-weight: 500;
  }
  #contact-1600 .cs-services [type="checkbox"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.75rem;
    height: 0.75rem;
    outline: 0.0625rem solid #b4b2c7;
    border-radius: 0.125rem;
  }
  #contact-1600 .cs-services [type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.75rem;
    height: 0.75rem;
    outline: 0.0625rem solid #aace7b;
    border-radius: 0.125rem;
  }
  #contact-1600 .cs-services [type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.125rem;
    background-image: url("/assets/svgs/check.svg");
    background-size: contain;
    transform: scale(1);
    transition: all 0.3s ease;
  }
  #contact-1600 .cs-services [type="checkbox"]:not(:checked) + label::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.125rem;
    background-image: url("/assets/svgs/check.svg");
    background-size: contain;
    transform: scale(0);
    opacity: 0;
  }
  #contact-1600 select {
    width: 100%;
  }
  #contact-1600 #select-budget {
    font-size: 1rem;
    width: 100%;
    /* 46px - 56px */
    height: clamp(2.875rem, 4vw, 3.5rem);
    padding: 0;
    padding-left: 1.5rem;
    color: #b4b2c7;
    background-color: #f7f7f7;
    border: none;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
  }
  #contact-1600 #select-budget::placeholder {
    color: #7D799C;
    opacity: 0.6;
  }
  #contact-1600 #select-budget:focus {
    outline: 2px solid var(--primary);
    box-shadow: 0 0 0 2px rgba(var(--primaryRGB), 0.1);
    border-radius: 0.0625rem;
  }
  #contact-1600 #select-budget label {
    margin-bottom: 0.1875rem;
  }
  #contact-1600 .check-title {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    width: 100%;
    color: var(--headerColor);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
    margin-bottom: 0.75rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact-1600 .cs-container {
    max-width: 80rem;
    /* removed at large desktop. This is to clip the cs-background */
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #contact-1600 .cs-content {
    text-align: left;
    width: 42%;
    margin: 0;
    padding: 0;
    padding-left: 1.875rem;
    align-items: flex-start;
    order: 1;
  }
  #contact-1600 .cs-form {
    padding: 0;
  }
  #contact-1600 .cs-submit {
    margin-left: 0;
  }
  #contact-1600 .cs-wrapper {
    width: 50%;
    max-width: 39.375rem;
    order: 2;
  }
  #contact-1600 .cs-card-group {
    padding: 0;
  }
  #contact-1600 .cs-card-background {
    display: none;
  }
  #contact-1600 .cs-background {
    display: block;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-1600 .cs-name,
  #contact-1600 .cs-phone,
  #contact-1600 .cs-city,
  #contact-1600 .cs-postal-code {
    width: 47%;
  }
  #contact-1600 .cs-services {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
  #contact-1600 .cs-container {
    overflow: visible;
  }
  #contact-1600 .cs-background {
    left: 11.75rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #contact-1600 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #contact-1600:before {
    opacity: 0.1;
  }
  body.dark-mode #contact-1600 .cs-title,
  body.dark-mode #contact-1600 .cs-text,
  body.dark-mode #contact-1600 .cs-header,
  body.dark-mode #contact-1600 .cs-item-text,
  body.dark-mode #contact-1600 .cs-link {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #contact-1600 .cs-link,
  body.dark-mode #contact-1600 .cs-item-text {
    opacity: 0.8;
  }
  body.dark-mode #contact-1600 #select-budget {
    background-color: var(--medium);
    color: rgba(193, 193, 193, 0.787);
  }
  body.dark-mode #contact-1600 .cs-icon {
    filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #contact-1600 .cs-label {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #contact-1600 .cs-input {
    background-color: var(--medium);
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #contact-1600 .cs-input::placeholder {
    color: #fff;
    opacity: 0.5;
  }
  body.dark-mode #contact-1600 .cs-item {
    border: 1px solid var(--accent);
  }
  body.dark-mode #contact-1600 .cs-item:before {
    opacity: 1;
    background-color: var(--dark);
  }
}
