/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-524 {
    padding: var(--sectionPadding);
  }
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.6em);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1em);
    }
    100% {
      transform: translateY(0);
    }
  }
  #sbsr-524 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-524 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-524 .cs-title::before {
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    width: 1.515625em;
    background: var(--primary);
    opacity: 1;
    bottom: -0.390625em;
    left: 0;
    margin-bottom: 0.625rem;
  }
  #sbsr-524 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-524 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-524 .cs-flex-group {
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    background-color: #f7f7f7;
    border-radius: 1rem;
    position: relative;
  }
  #sbsr-524 .cs-flex-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: #767676;
  }
  #sbsr-524 .cs-name {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #sbsr-524 .cs-job {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #767676;
    display: block;
  }
  #sbsr-524 .cs-quote-icon {
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
    height: auto;
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
  }
  #sbsr-524 .cs-button-solid {
    z-index: 1;
    position: relative;
    display: inline-block;
    background-color: var(--primary);
    width: auto;
    padding: 0 1.875rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 3.125em;
    font-weight: bold;
    margin-top: 0.9375rem;
    color: #000;
    transition: color 0.3s;
    transition-delay: 0.1s;
    text-align: center;
  }
  #sbsr-524 .cs-button-solid:hover {
    color: #fff;
  }
  #sbsr-524 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbsr-524 .cs-button-solid:before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 1;
    display: block;
    background-color: #000;
    height: 100%;
    width: 0;
    transition: width 0.3s;
  }
  #sbsr-524 .cs-image-group {
    /* this is how we can scale entire groups using ems.  Font size is tied to the view width, so as the screen gets bigger, so does the font size, and this scales up and down the elements with em values.  Then it stops growing once the font size reaches the defined value of 1em (16px which is default on the html element). Font size changes at desktop */
    font-size: min(2.3vw, .875em);
    /* all values are done in ems, not rems, so we can scale the group with a font size min/max equation */
    width: 39.375em;
    height: 51.0625em;
    position: relative;
    /* pushes it to the top in the first position */
    order: -1;
  }
  #sbsr-524 .cs-image-group:before {
    content: "";
    width: 11.625em;
    height: 10.0625em;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0em;
    right: 0em;
    border-radius: 0.625em;
    animation-name: floatAnimation;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #sbsr-524 .cs-picture {
    display: block;
    position: absolute;
  }
  #sbsr-524 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.625em;
    /* makes it act like a background image */
    object-fit: cover;
  }
  #sbsr-524 .cs-picture-large {
    width: 29.75em;
    height: 42.3125em;
    top: 4.375em;
    right: 3.875em;
  }
  #sbsr-524 .cs-picture-small {
    width: 16.25em;
    height: 14.0625em;
    border: 0.625em solid #fff;
    border-radius: 0.625em;
    background-color: #fff;
    bottom: 0;
    left: 0;
    animation-name: floatAnimation2;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #sbsr-524 .cs-picture-small img {
    border-radius: 0.625em;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-524 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
  }
  #sbsr-524 .cs-content {
    width: 51%;
    max-width: 34.375rem;
  }
  #sbsr-524 .cs-image-group {
    font-size: min(1.1vw, 1em);
    /* sends it to the right in the 2nd position */
    order: 2;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbsr-524 .cs-title,
  body.dark-mode #sbsr-524 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbsr-524 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #sbsr-524 .cs-image-group:before {
    opacity: 0.3;
  }
  body.dark-mode #sbsr-524 .cs-picture-small {
    border-color: var(--dark);
    background-color: var(--dark);
  }
}
/*-- -------------------------- -->
<---        Services            -->
<--- -------------------------- -*/
/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0em) {
  #grids {
    padding: var(--sectionPadding);
    position: relative;
    background: #fff;
    z-index: 2;
  }
  #grids .cs-button-solid {
    height: 2.5em;
    line-height: 2.5em;
    color: #fff;
  }
  #grids .florida {
    width: 100%;
    max-width: 75em;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: auto;
    padding-bottom: 2.8125em;
  }
  #grids .care {
    font-size: var(--headerFontSize);
    padding-bottom: 0.5em;
  }
  #grids .cs-topper {
    font-size: clamp(1.1rem, 1.6vw, 1.2rem);
    color: var(--primary);
    text-transform: uppercase;
  }
  #grids .grid-1 {
    width: 100%;
    max-width: 84.375em;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.9375em;
  }
  #grids .s-pic {
    position: relative;
    display: block;
  }
  #grids .s-pic img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }
  #grids .gt {
    color: #fff;
    font-size: clamp(1.8rem, 4.5vw, 2.5625rem);
    text-shadow: #000;
    letter-spacing: 0.06em;
    z-index: 1;
  }
  #grids .box1 {
    width: 100%;
    height: 14.375em;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
  }
  #grids .s-pic1 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-position: 30px 80%;
  }
  #grids .box2 {
    width: 100%;
    height: 14.375em;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
  }
  #grids .s-pic2 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: contain;
    font-size: min(1.1vw, 1em);
  }
  #grids .box3 {
    width: 100%;
    height: 14.375em;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
  }
  #grids .s-pic3 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
    font-size: min(1.1vw, 1em);
    object-position: 50%;
  }
  #grids .box4 {
    width: 100%;
    height: 14.375em;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
  }
  #grids .s-pic4 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: contain;
    font-size: min(1.1vw, 1em);
  }
  #grids .box5 {
    width: 100%;
    height: 14.375em;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
  }
  #grids .s-pic5 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: contain;
    font-size: min(1.1vw, 1em);
  }
  #grids .box6 {
    width: 100%;
    height: 14.375em;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
  }
  #grids .s-pic6 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: contain;
    font-size: min(1.1vw, 1em);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #grids {
    padding: var(--sectionPadding);
    position: relative;
  }
  #grids .grid-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 84.375em;
    grid-auto-rows: 20vw;
    color: #fff;
    gap: 1em;
    margin: auto;
    padding: 0 0.9375em;
  }
  #grids .s-pic {
    position: relative;
    display: block;
  }
  #grids .s-pic img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #grids .box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
    filter: grayscale(0);
  }
  #grids .box1:hover .s-pic1 {
    filter: grayscale(1);
    transition: ease 0.5s;
  }
  #grids .gt {
    color: #fff;
    font-size: clamp(1.5rem, 4.5vw, 2.5625rem);
    text-shadow: #767676;
  }
  #grids .s-pic1 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
    font-size: min(1.1vw, 1em);
    filter: grayscale(0);
  }
  #grids .s-pic1:hover {
    filter: grayscale(1);
  }
  #grids .box2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
    filter: grayscale(0);
  }
  #grids .box2:hover .s-pic2 {
    filter: grayscale(1);
    transition: ease 0.5s;
  }
  #grids .s-pic2 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    font-size: min(1.1vw, 1em);
  }
  #grids .box3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
    filter: grayscale(0);
  }
  #grids .box3:hover .s-pic3 {
    filter: grayscale(1);
    transition: ease 0.5s;
  }
  #grids .s-pic3 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    font-size: min(1.1vw, 1em);
  }
  #grids .box4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
    filter: grayscale(0);
  }
  #grids .box4:hover .s-pic4 {
    filter: grayscale(1);
    transition: ease 0.5s;
  }
  #grids .s-pic4 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: contain;
    object-position: 30px 80%;
  }
  #grids .box5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 100%;
    height: 100%;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
    filter: grayscale(0);
  }
  #grids .box5:hover .s-pic5 {
    filter: grayscale(1);
    transition: ease 0.5s;
  }
  #grids .s-pic5 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    object-position: 30px 80%;
  }
  #grids .box6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    width: 100%;
    height: 100%;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
    filter: grayscale(0);
  }
  #grids .box6:hover .s-pic6 {
    filter: grayscale(1);
    transition: ease 0.5s;
  }
  #grids .s-pic6 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    object-position: 30px 80%;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #grids {
    padding: var(--sectionPadding);
    position: relative;
  }
  #grids .grid-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 84.375em;
    grid-auto-rows: 15.625rem;
    color: #fff;
    gap: 1em;
    margin: auto;
  }
  #grids .s-pic {
    position: relative;
    display: block;
  }
  #grids .s-pic img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #grids .box1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
    filter: grayscale(0);
  }
  #grids .box1:hover .s-pic1 {
    filter: grayscale(1);
    transition: ease 0.5s;
  }
  #grids .gt {
    color: #fff;
    font-size: clamp(1.5rem, 4.5vw, 2.5625rem);
    text-shadow: 2px 2px 6px #000;
  }
  #grids .s-pic1 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
    font-size: min(1.1vw, 1em);
    filter: grayscale(0);
  }
  #grids .s-pic1:hover {
    filter: grayscale(1);
  }
  #grids .box2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
    filter: grayscale(0);
  }
  #grids .box2:hover .s-pic2 {
    filter: grayscale(1);
    transition: ease 0.5s;
  }
  #grids .s-pic2 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    font-size: min(1.1vw, 1em);
  }
  #grids .box3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
    filter: grayscale(0);
  }
  #grids .box3:hover .s-pic3 {
    filter: grayscale(1);
    transition: ease 0.5s;
  }
  #grids .s-pic3 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    font-size: min(1.1vw, 1em);
  }
  #grids .box4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
    filter: grayscale(0);
  }
  #grids .box4:hover .s-pic4 {
    filter: grayscale(1);
    transition: ease 0.5s;
  }
  #grids .s-pic4 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: contain;
    object-position: 30px 80%;
  }
  #grids .box5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 100%;
    height: 100%;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
    filter: grayscale(0);
  }
  #grids .box5:hover .s-pic5 {
    filter: grayscale(1);
    transition: ease 0.5s;
  }
  #grids .s-pic5 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    object-position: 30px 80%;
  }
  #grids .box6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    width: 100%;
    height: 100%;
    position: relative;
    align-content: end;
    padding-left: 0.9375em;
    padding-bottom: 0.9375em;
    filter: grayscale(0);
  }
  #grids .box6:hover .s-pic6 {
    filter: grayscale(1);
    transition: ease 0.5s;
  }
  #grids .s-pic6 {
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    object-position: 30px 80%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #grids {
    background-color: var(--dark);
  }
  body.dark-mode #grids .cs-title,
  body.dark-mode #grids .cs-text,
  body.dark-mode #grids .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #steps {
    position: relative;
    padding: 3.75em 0;
    z-index: 1;
    text-align: center;
  }
  #steps .cs-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
  }
  #steps .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #steps .reviews-box {
    margin-top: 5em;
    margin-bottom: 4.6875em;
  }
  #steps .title {
    font-weight: 900;
    font-size: min(10vw, 3em);
    line-height: 1.20833333;
    color: #1A1A1A;
    position: relative;
    margin: auto;
    margin-bottom: 1.08333333em;
    max-width: 14.4375em;
    text-align: center;
    width: 96%;
  }
  #steps .title::before {
    content: '';
    position: absolute;
    display: block;
    height: 0.0625em;
    width: 1.515625em;
    background: var(--primary);
    opacity: 1;
    bottom: -0.390625em;
    left: 50%;
    transform: translateX(-50%);
  }
  #steps .cs-text {
    text-align: center;
    font-size: 1.125em;
    line-height: 1.33333333;
    width: 96%;
    max-width: 33.88888889em;
    margin-left: auto;
    margin-right: auto;
  }
  #steps .card {
    box-shadow: 0px 0.25em 2.8125em 0.25em rgba(0, 0, 0, 0.14);
    width: 95%;
    margin: auto;
    margin-bottom: 1.5625em;
    padding: 3.125em 1.25em;
    background: #fff;
    max-width: 29.8125em;
  }
  #steps .card .name {
    font-size: 1.5em;
    line-height: 1.16666667em;
    font-weight: 700;
    margin-bottom: 0.83333333em;
    display: block;
    text-align: center;
    color: #1a1a1a;
  }
}
/* Large Mobile */
@media only screen and (min-width: 568px) {
  #steps {
    padding-top: 6.25em;
  }
  #steps .card {
    padding: 3.125em;
  }
  #steps .cs-background {
    display: block;
    margin: 0.83333333em auto;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #steps {
    position: relative;
  }
  #steps .card {
    padding-left: 4.375em;
    position: relative;
  }
  #steps .card:nth-of-type(1)::before {
    content: '1';
    position: absolute;
    display: block;
    opacity: 1;
    top: 50%;
    transform: translateY(-50%);
    left: -0.25em;
    font-size: 9.375em;
    font-weight: bold;
    color: var(--primary);
  }
  #steps .card:nth-of-type(2)::before {
    content: '2';
    position: absolute;
    display: block;
    opacity: 1;
    top: 50%;
    transform: translateY(-50%);
    left: -0.25em;
    font-size: 9.375em;
    font-weight: bold;
    color: var(--primary);
  }
  #steps .card:nth-of-type(3)::before {
    content: '3';
    position: absolute;
    display: block;
    opacity: 1;
    top: 50%;
    transform: translateY(-50%);
    left: -0.25em;
    font-size: 9.375em;
    font-weight: bold;
    color: var(--primary);
  }
  #steps .card:nth-of-type(4)::before {
    content: '4';
    position: absolute;
    display: block;
    opacity: 1;
    top: 50%;
    transform: translateY(-50%);
    left: -0.25em;
    font-size: 9.375em;
    font-weight: bold;
    color: var(--primary);
  }
  #steps .card .name {
    text-align: left;
  }
  #steps .cs-text {
    text-align: left;
    margin: 0;
    width: 100%;
  }
}
/* Desktop */
@media only screen and (min-width: 64em) {
  #steps {
    padding-top: 9.375em;
    padding-bottom: 9.375em;
    max-width: 100%;
    position: relative;
    background: #fff;
  }
  #steps .title {
    width: 17.08333333em;
    font-size: 3em;
    line-height: 1.16666667em;
    margin-left: auto;
    margin-right: auto;
  }
  #steps p {
    width: 38.125em;
    margin-left: auto;
    margin-right: auto;
  }
  #steps .reviews-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 77.5em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1000;
    font-size: min(1.4vw, 1em);
  }
  #steps .card {
    width: 47%;
    max-width: 31.5625em;
    height: 15.625em;
    margin: 1.25em;
    padding: 3.375em 3.625em 2.625em 3.625em;
    background: #fff;
  }
  #steps .card:nth-of-type(1),
  #steps .card:nth-of-type(3),
  #steps .card:nth-of-type(2),
  #steps .card:nth-of-type(4) {
    margin-left: 0;
  }
  #steps .card .name {
    text-align: left;
    width: 100%;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625em;
    font-weight: bold;
    font-size: 1.5em;
  }
  #steps .cs-text {
    width: 100%;
    max-width: 24.4375em;
    text-align: left;
    line-height: 1.5em;
    margin: 0;
  }
  #steps .cs-background {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #steps .title {
    color: #fff;
  }
  body.dark-mode #steps .cs-text {
    color: #1a1a1a;
  }
  body.dark-mode #steps .cs-background {
    opacity: 1;
  }
  body.dark-mode #steps .cs-background::before {
    /* Black Color Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  #sbs-1362 {
    padding: var(--sectionPadding);
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #sbs-1362 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1362 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1362 .cs-topper {
    color: #767676;
  }
  #sbs-1362 .cs-title {
    /* 23 characters wide including spaces */
    max-width: 26ch;
  }
  #sbs-1362 .cs-title::before {
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    width: 1.515625em;
    background: var(--primary);
    opacity: 1;
    bottom: -0.390625em;
    left: 0;
    margin-bottom: 0.625rem;
  }
  #sbs-1362 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1362 .cs-text:last-of-type {
    margin-bottom: 1.5rem;
  }
  #sbs-1362 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0 0 1.5rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    align-items: center;
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #sbs-1362 .cs-item {
    list-style: none;
    /* 16px - 24px */
    padding: clamp(1rem, 3vw, 1.5rem);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: #f7f7f7;
    border-radius: 1rem;
    border: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #sbs-1362 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #sbs-1362 .cs-h3-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #sbs-1362 .cs-item-text {
    font-size: 0.875rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbs-1362 .cs-ul {
    width: 100%;
    margin: 0 0 1.5rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #sbs-1362 .cs-li {
    font-size: var(--bodyFontSize);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 0.5rem;
  }
  #sbs-1362 .cs-icon {
    width: 1.5rem;
    height: auto;
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: 1px;
    display: block;
  }
  #sbs-1362 .cs-button-solid {
    font-size: 1rem;
    line-height: 3.5rem;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0 3rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #sbs-1362 .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #1a1a1a;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-1362 .cs-button-solid:hover {
    color: var(--primary);
  }
  #sbs-1362 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1362 .cs-image-group {
    width: 100%;
    max-width: 36.625rem;
    /* Changes to auto at desktop */
    height: 32.5rem;
    /* 32px - 48px */
    border-radius: clamp(2rem, 4vw, 3rem);
    /* clips the corners of the children around the border radius */
    overflow: hidden;
    position: relative;
  }
  #sbs-1362 .cs-background {
    width: 100%;
    height: 100%;
    /* makes it cover the parent dimensions */
    object-fit: cover;
    display: block;
  }
  #sbs-1362 .cs-background img {
    width: 100%;
    height: 100%;
    /* makes it cover the parent like a backgorund image */
    object-fit: cover;
    display: block;
  }
  #sbs-1362 .cs-box {
    text-align: left;
    width: 100%;
    max-width: 19rem;
    padding: 2rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: var(--primary);
    /* 48px - 80px */
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    position: absolute;
    /* 12px - 20px */
    right: clamp(0.75rem, 1.9vw, 1.5rem);
    /* 12px - 20px */
    bottom: clamp(0.75rem, 1.9vw, 1.5rem);
  }
  #sbs-1362 .cs-box-icon {
    width: 3.75rem;
    height: auto;
    display: block;
  }
  #sbs-1362 .cs-desc {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    width: 100%;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #sbs-1362 .cs-bubbles {
    font-size: min(2.5vw, .7em);
    width: 26.1875em;
    height: 26.6875em;
    position: absolute;
    /* changes to 160px at larger desktop */
    right: -16.25em;
    /* changes to 30px at large desktop */
    bottom: -3.125em;
    z-index: -1;
  }
  #sbs-1362 .cs-bubbles:before {
    /* white border bubble */
    content: "";
    width: 20.625em;
    height: 20.625em;
    background: transparent;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    animation-name: floatAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #sbs-1362 .cs-bubbles:after {
    /* orange bubble */
    content: "";
    width: 16.25em;
    height: 16.25em;
    background: var(--primary);
    opacity: 0.15;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    animation-name: floatAnimation2;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1362 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbs-1362 .cs-image-group {
    height: auto;
  }
  #sbs-1362 .cs-bubbles {
    font-size: min(2.5vw, 1em);
  }
}
/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
  #sbs-1362 .cs-bubbles {
    margin-left: 40.625rem;
    right: auto;
    left: 50%;
    bottom: 1.875rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-1362 .cs-topper {
    color: var(--primary);
  }
  body.dark-mode #sbs-1362 .cs-title,
  body.dark-mode #sbs-1362 .cs-text,
  body.dark-mode #sbs-1362 .cs-li,
  body.dark-mode #sbs-1362 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-1362 .cs-text,
  body.dark-mode #sbs-1362 .cs-li,
  body.dark-mode #sbs-1362 .cs-item-text {
    opacity: 0.8;
  }
  body.dark-mode #sbs-1362 .cs-item {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
  }
  body.dark-mode #sbs-1362 .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-1362 .cs-icon {
    filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #sbs-1362 .cs-bubbles:before {
    border-color: rgba(255, 255, 255, 0.2);
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.6em);
    }
    100% {
      transform: translateY(0);
    }
  }
  #sbsr-579 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 7vw, 4rem);
  }
  #sbsr-579 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* moved section padding to the .cs-content so we can have the cs-picture be full width on mobile without the padding preventing it from doing so */
    padding: var(--sectionPadding);
    padding-top: 0;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-579 .cs-title::before {
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    width: 1.515625em;
    background: var(--primary);
    opacity: 1;
    bottom: -0.390625em;
    left: 0;
    margin-bottom: 0.625rem;
  }
  #sbsr-579 .cs-text {
    margin-top: 1.875em;
    margin-bottom: 1rem;
  }
  #sbsr-579 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-579 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbsr-579 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbsr-579 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbsr-579 .cs-picture {
    display: block;
    position: relative;
    width: 100%;
    height: 18.75rem;
  }
  #sbsr-579 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.625em;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-579 {
    padding: var(--sectionPadding);
  }
  #sbsr-579 .cs-container {
    flex-direction: row;
    justify-content: flex-end;
    /* 60px - 128px */
    gap: clamp(3.75rem, 10vw, 8rem);
  }
  #sbsr-579 .cs-content {
    width: 53%;
    /* reset the padding, add the section padding back to the section container */
    padding: 0;
  }
  #sbsr-579 .cs-picture {
    width: 47vw;
    max-width: 30.875rem;
    /* 518px - 700px */
    height: clamp(32.375rem, 63vw, 43.75rem);
    /* 16px - 28px, added margin left and bottom to cs-picture so it pushes away by the same amount the yellow box element overlaps it left and bottom. This maintains consistent spacing left and bottom */
    margin: 0 0 clamp(1rem, 2.4vw, 1.75rem) clamp(1rem, 2.4vw, 1.75rem);
    position: relative;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #sbsr-579 .cs-picture:before {
    /* yellow box */
    content: "";
    width: 50%;
    height: 60%;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: absolute;
    /* 16px - 28px, wrapped in calc function to multiple by negative 1 and get a negative clamp value */
    bottom: calc(clamp(1rem, 2.4vw, 1.75rem)*-1);
    right: calc(clamp(1rem, 2.4vw, 1.75rem)*-1);
    border-radius: 0.625em;
    animation-name: floatAnimation;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbsr-579 .cs-title,
  body.dark-mode #sbsr-579 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbsr-579 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #sbsr-579 .cs-picture:before {
    background-color: var(--accent);
    opacity: 0.3;
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0rem) {
  #gallery {
    position: relative;
    /* Prevents overflow from the image going off screen */
    overflow: hidden;
    padding: var(--sectionPadding);
    /* Centers button */
    text-align: center;
  }
  #gallery .cs-container {
    margin: auto;
    max-width: 82.625em;
    width: 100%;
    align-items: center;
  }
  #gallery .cs-topper {
    margin-bottom: 1rem;
    text-align: center;
  }
  #gallery .cs-title {
    max-width: 38.8125rem;
    text-align: center;
    align-items: center;
    margin: auto auto 2.5rem;
  }
  #gallery .cs-image-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto 3.75rem;
    max-width: 82.625em;
    width: 100%;
    padding: 0;
    /* used rem so it doesn't scale with the font size of on parent */
    font-size: min(1.1vw, 1em);
    gap: 1.875em;
  }
  #gallery .cs-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875em;
  }
  #gallery .cs-picture {
    position: relative;
    display: block;
  }
  #gallery .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #gallery .cs-row-1 .cs-picture1 {
    height: 35.4375em;
    width: 26.25em;
  }
  #gallery .cs-row-1 .cs-picture2 {
    height: 39.3125em;
    width: 26.25em;
  }
  #gallery .cs-row-1 .cs-picture3 {
    height: 32em;
    width: 26.25em;
  }
  #gallery .cs-row-2 .cs-picture1 {
    height: 30.75em;
    width: 26.25em;
  }
  #gallery .cs-row-2 .cs-picture2 {
    height: 32.3125em;
    width: 26.25em;
  }
  #gallery .cs-row-2 .cs-picture3 {
    height: 39.3125em;
    width: 26.25em;
  }
  #gallery .cs-row-3 .cs-picture1 {
    height: 39.0625em;
    width: 26.25em;
  }
  #gallery .cs-row-3 .cs-picture2 {
    height: 28.25em;
    width: 26.25em;
  }
  #gallery .cs-row-3 .cs-picture3 {
    height: 39.3125em;
    width: 26.25em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #gallery .cs-title {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews {
    padding: var(--sectionPadding);
    /* Centers the button */
    text-align: center;
  }
  #reviews .cs-container {
    margin: auto;
    max-width: 69rem;
    width: 100%;
  }
  #reviews .cs-topper {
    margin-bottom: 1rem;
    text-align: center;
  }
  #reviews .cs-title {
    max-width: 43.75rem;
    text-align: center;
    margin: auto;
  }
  #reviews .cs-text {
    max-width: 40.625rem;
    text-align: center;
    /* 88px - 104px */
    margin: auto auto clamp(5.5em, 10.2vw, 6.5em);
  }
  #reviews .cs-card-group {
    /* 48px - 64px */
    margin: 0 auto clamp(3rem, 5vw, 4rem);
    padding: 0;
  }
  #reviews .cs-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    margin: 0 auto 4rem;
    background: #fff;
    max-width: 33.875rem;
    width: 100%;
    /* Prevents padding from affecting height & width */
    box-sizing: border-box;
    /* Padding L & R - 16px - 32px */
    padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0;
    /* 32px - 40px */
    padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
    list-style: none;
    text-align: left;
    box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
  }
  #reviews .cs-item:last-of-type {
    margin-bottom: 0;
  }
  #reviews .cs-item-img {
    position: absolute;
    top: calc(-40 / 16 * 1rem);
    height: 5rem;
    width: 5rem;
  }
  #reviews .cs-item-p {
    border-bottom: 1px solid #e8e9ec;
    margin: 0 0 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #reviews .cs-reviewer {
    display: block;
    margin: 0 auto 0 0;
    width: 40%;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--headerColor);
  }
  #reviews .cs-desc {
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(#353535);
  }
  #reviews .cs-item-stars {
    height: 1rem;
    width: 6rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews .cs-card-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  #reviews .cs-item {
    /* reset margin so it won't interfere with flexbox */
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews .cs-title,
  body.dark-mode #reviews .cs-text,
  body.dark-mode #reviews .cs-item-p,
  body.dark-mode #reviews .cs-reviewer {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews .cs-item {
    background: var(--medium);
  }
  body.dark-mode #reviews .cs-desc {
    color: var(--primaryLight);
  }
}
/*-- -------------------------- -->
<---          FAQ               -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #faq {
    padding: var(--sectionPadding);
    position: relative;
  }
  #faq .f-header {
    width: 100%;
    max-width: 75em;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: auto;
    padding-bottom: 2.8125em;
  }
  #faq .f-title {
    font-size: var(--headerFontSize);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }
  #faq .flex-accordion {
    width: 100%;
    max-width: 75em;
    margin: auto;
    justify-content: center;
    align-content: center;
  }
  #faq .accordion,
  #faq .accordion1,
  #faq .accordion2,
  #faq .accordion3,
  #faq .accordion4,
  #faq .accordion5,
  #faq .accordion6,
  #faq .accordion7 {
    max-width: 28.125em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 0.3125em;
    margin: auto;
    margin-bottom: 0.9375em;
  }
  #faq .accordion__label,
  #faq .accordion__content {
    padding: 0.875em 0.625em;
  }
  #faq .accordion__label {
    display: block;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    font-size: clamp(1.1rem, 1.6vw, 1.2rem);
    padding-right: 1.3125em;
  }
  #faq .accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.9375em;
    height: 0.375em;
    width: 0.75em;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%2300000099;" /></svg>');
    background-size: contain;
    transition: transform 0.5s;
  }
  #faq .accordion__content {
    line-height: 1.6em;
    padding-bottom: 0.625em;
    display: none;
  }
  #faq .accordion__input {
    display: none;
  }
  #faq .accordion__input:checked ~ .accordion__content {
    display: block;
  }
  #faq .accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
  }
  #faq .fbut {
    text-align: center;
    padding-top: 1.25em;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #faq .accordion,
  body.dark-mode #faq .accordion1,
  body.dark-mode #faq .accordion2,
  body.dark-mode #faq .accordion3,
  body.dark-mode #faq .accordion4,
  body.dark-mode #faq .accordion5,
  body.dark-mode #faq .accordion6,
  body.dark-mode #faq .accordion7 {
    background-color: var(--primary);
  }
  body.dark-mode #faq .accordion__label {
    color: #fff;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 820px) {
  #faq .flex-accordion {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: baseline;
    width: 100%;
    max-width: 75em;
    gap: 0.625em;
  }
  #faq .l-accordion {
    width: 100%;
    max-width: 28.125em;
    justify-items: center;
    margin-left: auto;
  }
  #faq .r-accordion {
    width: 100%;
    max-width: 28.125em;
    margin-right: auto;
  }
}
/*-- -------------------------- -->
<---           Blog             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #blog-1580 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #blog-1580 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #blog-1580 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #blog-1580 .cs-title {
    max-width: 20ch;
  }
  #blog-1580 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 12.5rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }
  #blog-1580 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #blog-1580 .cs-button-solid:hover {
    color: #fff;
  }
  #blog-1580 .cs-button-solid:hover:before {
    width: 100%;
  }
  #blog-1580 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1.75rem;
    /* 16px - 20px */
    column-gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #blog-1580 .cs-item {
    text-align: left;
    list-style: none;
    overflow: hidden;
    grid-column: span 12;
    position: relative;
    z-index: 1;
    transition: box-shadow 0.3s, transform 0.3s;
  }
  #blog-1580 .cs-item:hover .cs-picture img {
    opacity: 0.3;
    transform: scale(1.1);
  }
  #blog-1580 .cs-item:hover .cs-h3 {
    color: var(--primary);
  }
  #blog-1580 .cs-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #blog-1580 .cs-picture {
    width: 100%;
    min-height: 13.75rem;
    /* changes at tablet */
    max-height: 18.75rem;
    height: 100vw;
    /* 16px - 24px */
    margin: 0 0 clamp(1rem, 3vw, 1.5rem) 0;
    background-color: #1a1a1a;
    overflow: hidden;
    display: block;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
    z-index: 1;
  }
  #blog-1580 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s, opacity 0.3s;
  }
  #blog-1580 .cs-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 2;
  }
  #blog-1580 .cs-date {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    text-align: inherit;
    margin: 0 0 2rem 0;
    padding: 0.5rem 1rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: #D1D3D4;
    color: #1a1a1a;
    display: inline-block;
    position: absolute;
    left: 1rem;
    bottom: 100%;
    z-index: 2;
  }
  #blog-1580 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    text-align: inherit;
    line-height: 1.2em;
    font-weight: 700;
    color: var(--headerColor);
    /* 12px - 16px */
    margin: 0 0 clamp(0.75rem, 2vw, 1rem) 0;
    transition: color 0.3s;
  }
  #blog-1580 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #blog-1580 .cs-container {
    max-width: 80rem;
  }
  #blog-1580 .cs-content {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  #blog-1580 .cs-title {
    margin: 0;
  }
  #blog-1580 .cs-item {
    grid-column: span 4;
  }
  #blog-1580 .cs-picture {
    min-height: 11.25rem;
    /* 180px - 284px */
    height: clamp(11.25rem, 23vw, 17.75rem);
    max-height: 100%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #blog-1580 .cs-title,
  body.dark-mode #blog-1580 .cs-text,
  body.dark-mode #blog-1580 .cs-h3,
  body.dark-mode #blog-1580 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #blog-1580 .cs-text,
  body.dark-mode #blog-1580 .cs-item-text {
    opacity: 0.8;
  }
}
