/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */
/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0rem) {
  :root {
    --primary: #f80009;
    --primaryLight: #ff4349;
    --secondary: #001f3f;
    --secondaryLight: #001f3f;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  }
  .cs-topper {
    display: block;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    font-weight: 700;
    color: var(--primary);
    text-align: inherit;
  }
  .cs-title {
    position: relative;
    margin: 0 0 1rem 0;
    max-width: 43.75rem;
    font-size: var(--headerFontSize);
    line-height: 1.2em;
    font-weight: 900;
    color: var(--headerColor);
    text-align: inherit;
  }
  .cs-text {
    margin: 0;
    max-width: 40.625rem;
    width: 100%;
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    color: var(--bodyTextColor);
    text-align: inherit;
  }
  .cs-button-solid {
    z-index: 1;
    position: relative;
    display: inline-block;
    background-color: var(--primary);
    width: auto;
    padding: 0 1.875rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 3.125em;
    font-weight: bold;
    color: #000;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
    text-align: center;
  }
  .cs-button-solid:hover {
    color: #fff;
  }
  .cs-button-solid:hover:before {
    width: 100%;
  }
  .cs-button-solid:before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 1;
    display: block;
    background-color: #000;
    height: 100%;
    width: 0;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cs-hide-on-mobile {
    display: none;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  .cs-hide-on-mobile {
    display: block;
  }
  .cs-hide-on-desktop {
    display: none;
  }
}
/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
  body,
  html {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 100%;
    color: var(--bodyTextColor);
  }
  *,
  *:before,
  *:after {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
  }
  body {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .container {
    position: relative;
    margin: auto;
    width: 92%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: var(--headerColor);
  }
  p,
  li,
  a {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5em;
  }
  p,
  li {
    color: #353535;
  }
  a:hover,
  button:hover {
    cursor: pointer;
  }
  .skip {
    z-index: -1111111;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  /* roboto-regular - latin */
  @font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 400;
    font-display: swap;
    src: local(""), url("/assets/fonts/roboto-v29-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-regular.woff") format("woff");
    
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 700;
    font-display: swap;
    src: local(""), url("/assets/fonts/roboto-v29-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-700.woff") format("woff");
    
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 900;
    font-display: swap;
    src: local(""), url("/assets/fonts/roboto-v29-latin-900.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-900.woff") format("woff");
    
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
}
/* Reset Margins */
@media only screen and (min-width: 1024px) {
  body,
  html {
    margin: 0;
    padding: 0;
  }
}
/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
  body,
  html {
    font-size: 0.55vw;
  }
}
/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  body.dark-mode #dark-mode-toggle .cs-sun {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  body.dark-mode #dark-mode-toggle .cs-moon {
    opacity: 0;
    -webkit-transform: translate(-50%, -150%);
            transform: translate(-50%, -150%);
    fill: #fff;
  }
  #cs-navigation.cs-active #dark-mode-toggle .cs-moon {
    fill: #fff;
  }
  #dark-mode-toggle {
    width: 3rem;
    height: 3rem;
    padding: 0;
    background: transparent;
    overflow: hidden;
    border: none;
    display: block;
    position: absolute;
    right: 4.375rem;
    bottom: 0.625rem;
    z-index: 1000;
  }
  #dark-mode-toggle img,
  #dark-mode-toggle svg {
    width: 1.25rem;
    height: 1.25rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #dark-mode-toggle .cs-moon {
    z-index: 2;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
  }
  #dark-mode-toggle .cs-sun {
    opacity: 0;
    z-index: 1;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #dark-mode-toggle {
    margin: 0;
    position: relative;
    right: auto;
    bottom: auto;
    -webkit-transform: none;
            transform: none;
  }
  #dark-mode-toggle:hover {
    cursor: pointer;
  }
}
/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body.cs-open {
    overflow: hidden;
  }
  #cs-navigation {
    width: 100%;
    /* prevents padding from affecting height and width */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0.75rem 1rem;
    background-color: #fff;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 100;
  }
  #cs-navigation:after {
    /* on hover green bar */
    content: '';
    width: 40%;
    max-width: 9.125rem;
    height: 100%;
    background: #fff;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: -1;
    -webkit-transition: width 0.2s, max-width 0.3s, background-color 0.3s;
    transition: width 0.2s, max-width 0.3s, background-color 0.3s;
  }
  #cs-navigation:before {
    content: '';
    width: 0%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -11;
    -webkit-transition: width .5s, opacity .3s;
    transition: width .5s, opacity .3s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  #cs-navigation.cs-active:after {
    width: 100%;
    max-width: 100%;
    background-color: #484848;
  }
  #cs-navigation.cs-active:before {
    width: 100%;
    opacity: 1;
  }
  #cs-navigation.cs-active .cs-top-bar {
    z-index: initial;
  }
  #cs-navigation.cs-active .cs-top-bar:before {
    display: none;
  }
  #cs-navigation.cs-active .cs-link {
    color: var(--bodyTextColorWhite);
  }
  #cs-navigation.cs-active .cs-ul-wrapper {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
  }
  #cs-navigation.cs-active .cs-li {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #cs-navigation.scroll .cs-top-bar {
    height: 0;
    padding-bottom: 0;
    overflow: hidden;
    opacity: 0;
  }
  #cs-navigation.scroll .cs-top-bar:before {
    opacity: 0;
  }
  #cs-navigation.scroll .cs-toggle {
    margin-top: 0;
  }
  #cs-navigation .cs-top-bar {
    margin: 0;
    padding: 0 0 0.75rem 0;
    position: relative;
    z-index: -3;
    -webkit-transition: height 0.3s, padding-bottom 0.3s, opacity 0.3s;
    transition: height 0.3s, padding-bottom 0.3s, opacity 0.3s;
  }
  #cs-navigation .cs-top-bar:before {
    /* grey line */
    content: '';
    width: 100%;
    height: 1px;
    background: #EFF1F0;
    opacity: 1;
    display: block;
    position: absolute;
    right: -1rem;
    bottom: 0;
    z-index: -2;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  #cs-navigation .cs-logo {
    width: 40%;
    max-width: 9.125rem;
    height: 100%;
    /* prevents padding from affecting height and width */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0.75rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  #cs-navigation .cs-logo img {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    -o-object-fit: contain;
       object-fit: contain;
    /* places the image to the left edge of the parent */
    -o-object-position: left;
       object-position: left;
  }
  #cs-navigation .cs-item {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #cs-navigation .cs-remove {
    display: none;
  }
  #cs-navigation .cs-picture {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    background-color: #EFF1F0;
    border-radius: 50%;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  #cs-navigation .cs-icon {
    width: 1rem;
    height: auto;
    display: block;
  }
  #cs-navigation .cs-header {
    display: none;
  }
  #cs-navigation .cs-link {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-align: inherit;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  #cs-navigation .cs-toggle {
    /* 44px - 48px */
    width: clamp(2.75rem, 6vw, 3rem);
    height: clamp(2.75rem, 6vw, 3rem);
    margin: 0.75rem 0 0 auto;
    background-color: #484848;
    border: none;
    border-radius: 0.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #cs-navigation .cs-active .cs-line1 {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
  }
  #cs-navigation .cs-active .cs-line2 {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
            transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  #cs-navigation .cs-active .cs-line3 {
    opacity: 0;
    bottom: 100%;
  }
  #cs-navigation .cs-box {
    /* 24px - 28px */
    width: clamp(1.5rem, 2vw, 1.75rem);
    /* 14px - 16px */
    height: clamp(0.875rem, 1.5vw, 1rem);
    position: relative;
  }
  #cs-navigation .cs-line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #cs-navigation .cs-line1 {
    top: 0;
    -webkit-transition: top .3S, left .3S, -webkit-transform .5s;
    transition: top .3S, left .3S, -webkit-transform .5s;
    transition: transform .5s, top .3S, left .3S;
    transition: transform .5s, top .3S, left .3S, -webkit-transform .5s;
    -webkit-animation-duration: .7s;
            animation-duration: .7s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  #cs-navigation .cs-line2 {
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    -webkit-transition: top .3s, left .3s, -webkit-transform .5s;
    transition: top .3s, left .3s, -webkit-transform .5s;
    transition: top .3s, left .3s, transform .5s;
    transition: top .3s, left .3s, transform .5s, -webkit-transform .5s;
    -webkit-animation-duration: .7s;
            animation-duration: .7s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #cs-navigation .cs-line3 {
    bottom: 0;
    -webkit-transition: bottom .3s, opacity .3s;
    transition: bottom .3s, opacity .3s;
  }
  #cs-navigation .cs-ul-wrapper {
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
            box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: -1;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: opacity .3s, -webkit-transform .4s;
    transition: opacity .3s, -webkit-transform .4s;
    transition: transform .4s, opacity .3s;
    transition: transform .4s, opacity .3s, -webkit-transform .4s;
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  #cs-navigation .cs-ul {
    width: auto;
    min-width: 40%;
    height: 65vh;
    margin: 0;
    /* 28px - 40px */
    padding: 3rem clamp(1.75rem, 3vw, 2.5rem) 2rem 4.375rem;
    overflow: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 1.25rem;
  }
  #cs-navigation .cs-li {
    text-align: right;
    list-style: none;
    width: 100%;
    margin-right: 0;
    opacity: 0;
    /* transition from these values */
    -webkit-transform: translateX(-2.5rem);
            transform: translateX(-2.5rem);
    -webkit-transition: opacity .9s, -webkit-transform .6s;
    transition: opacity .9s, -webkit-transform .6s;
    transition: transform .6s, opacity .9s;
    transition: transform .6s, opacity .9s, -webkit-transform .6s;
  }
  #cs-navigation .cs-li:nth-of-type(1) {
    -webkit-transition-delay: .05s;
            transition-delay: .05s;
  }
  #cs-navigation .cs-li:nth-of-type(2) {
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
  }
  #cs-navigation .cs-li:nth-of-type(3) {
    -webkit-transition-delay: .15s;
            transition-delay: .15s;
  }
  #cs-navigation .cs-li:nth-of-type(4) {
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
  }
  #cs-navigation .cs-li:nth-of-type(5) {
    -webkit-transition-delay: .25s;
            transition-delay: .25s;
  }
  #cs-navigation .cs-li:nth-of-type(6) {
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
  #cs-navigation .cs-li:nth-of-type(7) {
    -webkit-transition-delay: .35s;
            transition-delay: .35s;
  }
  #cs-navigation .cs-li:nth-of-type(8) {
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
  }
  #cs-navigation .cs-li:nth-of-type(9) {
    -webkit-transition-delay: .45s;
            transition-delay: .45s;
  }
  #cs-navigation .cs-li-link {
    /* 16px - 24px */
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.2em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: inline-block;
    position: relative;
  }
  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: '';
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 1;
    display: none;
    position: absolute;
    bottom: -0.125rem;
    left: 0;
  }
  #cs-navigation .cs-li-link.cs-active:before {
    display: block;
  }
  #cs-navigation .cs-button-solid {
    display: none;
  }
}
/* Tablet - 650px - 1023px */
@media only screen and (min-width: 40.625rem) and (max-width: 63.9375rem) {
  #cs-navigation .cs-top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #cs-navigation .cs-item {
    position: relative;
  }
  #cs-navigation .cs-item:nth-of-type(2):after {
    display: none;
  }
  #cs-navigation .cs-item:after {
    /* divider line */
    content: '';
    width: 1px;
    height: 100%;
    margin: 0 1rem;
    background: #EFF1F0;
    opacity: 1;
    display: block;
    position: relative;
  }
  #cs-navigation .cs-picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #cs-navigation .cs-ul {
    padding-top: 9.375rem;
    gap: 2rem;
  }
  #cs-navigation .cs-li-link {
    font-size: 1.5rem;
  }
}
/* Dark Mode */
@media only screen and (max-width: 63.9375rem) {
  body.dark-mode #cs-navigation {
    background-color: var(--dark);
  }
  body.dark-mode #cs-navigation.cs-active .cs-picture {
    background-color: var(--primaryLight);
  }
  body.dark-mode #cs-navigation .cs-top-bar:before {
    opacity: .5;
  }
  body.dark-mode #cs-navigation .cs-picture {
    background-color: var(--accent);
  }
  body.dark-mode #cs-navigation .cs-item:after {
    opacity: .5;
  }
  body.dark-mode #cs-navigation .cs-icon {
    /* if current color is not black, turns icon white */
    -webkit-filter: grayscale(1) brightness(1000%);
            filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #cs-navigation .cs-link {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #cs-navigation .cs-ul-wrapper {
    background-color: var(--dark);
  }
  body.dark-mode #cs-navigation .cs-ul-wrapper:before {
    /* dark overlay */
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .2;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  body.dark-mode #cs-navigation .cs-li-link {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  #cs-navigation .cs-dropdown {
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #cs-navigation .cs-dropdown.cs-active .cs-drop-ul {
    height: auto;
    margin: 0.75rem 0 0 0;
    padding: 1.5rem;
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  #cs-navigation .cs-dropdown.cs-active .cs-drop-link {
    opacity: 1;
  }
  #cs-navigation .cs-dropdown .cs-li-link {
    position: relative;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  #cs-navigation .cs-drop-icon {
    width: 0.9375rem;
    height: auto;
    position: absolute;
    top: 50%;
    right: -1.25rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #cs-navigation .cs-drop-ul {
    width: 100%;
    height: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 1.5rem 0 1.5rem;
    background-color: var(--primary);
    overflow: hidden;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 0.75rem;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: padding .3s, margin .3s, height .3s, opacity .3s, visibility .3s, -webkit-transform .3s;
    transition: padding .3s, margin .3s, height .3s, opacity .3s, visibility .3s, -webkit-transform .3s;
    transition: padding .3s, margin .3s, height .3s, opacity .3s, transform .3s, visibility .3s;
    transition: padding .3s, margin .3s, height .3s, opacity .3s, transform .3s, visibility .3s, -webkit-transform .3s;
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  #cs-navigation .cs-drop-li {
    text-align: inherit;
    list-style: none;
  }
  #cs-navigation .cs-li-link.cs-drop-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    color: #fff;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation .cs-dropdown {
    position: relative;
  }
  #cs-navigation .cs-dropdown:hover {
    cursor: pointer;
  }
  #cs-navigation .cs-dropdown:hover .cs-drop-ul {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  #cs-navigation .cs-dropdown:hover .cs-drop-li {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  #cs-navigation .cs-drop-icon {
    width: 0.9375rem;
    height: auto;
    display: inline-block;
  }
  #cs-navigation .cs-drop-ul {
    min-width: 12.5rem;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
    opacity: 0;
    border-bottom: 5px solid var(--primary);
    visibility: hidden;
    /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
    position: absolute;
    top: 100%;
    z-index: -100;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transition: visibility .3s, opacity .3s, -webkit-transform .3s;
    transition: visibility .3s, opacity .3s, -webkit-transform .3s;
    transition: transform .3s, visibility .3s, opacity .3s;
    transition: transform .3s, visibility .3s, opacity .3s, -webkit-transform .3s;
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  #cs-navigation .cs-drop-li {
    font-size: 1rem;
    text-decoration: none;
    list-style: none;
    width: 100%;
    height: auto;
    color: var(--bodyTextColor);
    opacity: 0;
    display: block;
    -webkit-transform: translateY(-0.625rem);
            transform: translateY(-0.625rem);
    -webkit-transition: opacity .6s, -webkit-transform .6s;
    transition: opacity .6s, -webkit-transform .6s;
    transition: opacity .6s, transform .6s;
    transition: opacity .6s, transform .6s, -webkit-transform .6s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(1) {
    -webkit-transition-delay: .05s;
            transition-delay: .05s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(2) {
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(3) {
    -webkit-transition-delay: .15s;
            transition-delay: .15s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(4) {
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(5) {
    -webkit-transition-delay: .25s;
            transition-delay: .25s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(6) {
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(7) {
    -webkit-transition-delay: .35s;
            transition-delay: .35s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(8) {
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(9) {
    -webkit-transition-delay: .45s;
            transition-delay: .45s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(10) {
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(11) {
    -webkit-transition-delay: .55s;
            transition-delay: .55s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(12) {
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(13) {
    -webkit-transition-delay: .65s;
            transition-delay: .65s;
  }
  #cs-navigation .cs-li-link.cs-drop-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    /* prevents padding from affecting height and width */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0.75rem;
    color: var(--bodyTextColor);
    display: block;
    -webkit-transition: color 0.3s, background-color 0.3s;
    transition: color 0.3s, background-color 0.3s;
  }
  #cs-navigation .cs-li-link.cs-drop-link:hover {
    background-color: #f7f7f7;
  }
  #cs-navigation .cs-li-link.cs-drop-link:before {
    display: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #cs-navigation .cs-drop-ul {
    background-color: var(--dark);
  }
  body.dark-mode #cs-navigation .cs-li-link.cs-drop-link:hover {
    background-color: var(--medium);
  }
  body.dark-mode #cs-navigation .cs-drop-icon {
    /* turns it white */
    -webkit-filter: grayscale(1) brightness(1000%);
            filter: grayscale(1) brightness(1000%);
  }
}
/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation {
    width: 100%;
    /* prevents padding from affecting height and width */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 1rem 1rem 0 1rem;
    background-color: #fff;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;
    -webkit-transition: padding-top 0.3s;
    transition: padding-top 0.3s;
  }
  #cs-navigation.scroll {
    padding-top: 0;
  }
  #cs-navigation.scroll .cs-top-bar {
    height: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transform: translateY(-3.125rem);
            transform: translateY(-3.125rem);
  }
  #cs-navigation.scroll .cs-top-bar:before {
    width: 0;
  }
  #cs-navigation.scroll .cs-toggle {
    margin-top: 0;
  }
  #cs-navigation .cs-toggle {
    display: none;
  }
  #cs-navigation .cs-logo {
    width: 18.4%;
    max-width: 20rem;
    height: 100%;
    /* prevents padding from affecting height and width */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 32px - 48px */
    padding: 1rem clamp(2rem, 3vw, 3rem);
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
  #cs-navigation .cs-logo img {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    -o-object-fit: contain;
       object-fit: contain;
  }
  #cs-navigation .cs-top-bar {
    width: 100%;
    margin: 0;
    padding: 0 0 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-transition: height 0.3s, opacity 0.3s, padding-bottom 0.3s, margin-bottom 0.3s, -webkit-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, padding-bottom 0.3s, margin-bottom 0.3s, -webkit-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, padding-bottom 0.3s, margin-bottom 0.3s, transform 0.3s;
    transition: height 0.3s, opacity 0.3s, padding-bottom 0.3s, margin-bottom 0.3s, transform 0.3s, -webkit-transform 0.3s;
  }
  #cs-navigation .cs-top-bar:before {
    /* grey line */
    content: '';
    width: 100%;
    height: 1px;
    background: #EFF1F0;
    opacity: 1;
    display: block;
    position: absolute;
    right: -1rem;
    bottom: 0;
    z-index: -2;
    -webkit-transition: width .3s;
    transition: width .3s;
  }
  #cs-navigation .cs-item {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  #cs-navigation .cs-item:last-of-type:after {
    display: none;
  }
  #cs-navigation .cs-item:hover .cs-picture {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #cs-navigation .cs-item:after {
    /* divider line */
    content: '';
    width: 1px;
    height: 3rem;
    /* 24px - 44px */
    margin: 0 clamp(1.5rem, 5vw, 2.75rem);
    background: #EFF1F0;
    opacity: 1;
    display: block;
    position: relative;
  }
  #cs-navigation .cs-picture {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    background-color: #EFF1F0;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  #cs-navigation .cs-icon {
    width: 1.5rem;
    height: auto;
    display: block;
  }
  #cs-navigation .cs-header {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: block;
  }
  #cs-navigation .cs-link {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-align: inherit;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  #cs-navigation .cs-link:hover {
    text-decoration: underline;
  }
  #cs-navigation .cs-bottom-bar {
    width: 100%;
    /* prevents padding from affecting height and width */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 235px - 420px */
    padding: 0 0 0 clamp(14.6875rem, 23vw, 26.25rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  #cs-navigation .cs-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* 20px - 36px */
    gap: clamp(1.25rem, 2.6vw, 2.25rem);
  }
  #cs-navigation .cs-li {
    list-style: none;
    padding: 2rem 0;
    /* prevent flexbox from squishing it */
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  #cs-navigation .cs-li:last-of-type {
    /* pushes the button to the far right */
    margin-left: auto;
    padding: 0;
  }
  #cs-navigation .cs-li-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
    position: relative;
  }
  #cs-navigation .cs-li-link:hover:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link.cs-active:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: '';
    width: 0%;
    height: 2px;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 0rem;
    left: 0;
    -webkit-transition: width .3s;
    transition: width .3s;
  }
  #cs-navigation .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: #fff;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #cs-navigation .cs-button-solid:before {
    content: '';
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: width .3s;
    transition: width .3s;
  }
  #cs-navigation .cs-button-solid:hover:before {
    width: 100%;
  }
  #cs-navigation .cs-nav-button {
    margin-left: auto;
    border-radius: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 64rem) {
  body.dark-mode #cs-navigation {
    background-color: var(--dark);
  }
  body.dark-mode #cs-navigation .cs-top-bar:before {
    opacity: .5;
  }
  body.dark-mode #cs-navigation .cs-logo {
    background-color: #fff;
  }
  body.dark-mode #cs-navigation .cs-picture {
    background-color: var(--accent);
  }
  body.dark-mode #cs-navigation .cs-item:after {
    opacity: .5;
  }
  body.dark-mode #cs-navigation .cs-icon {
    /* if current color is not black, turns icon white */
    -webkit-filter: grayscale(1) brightness(1000%);
            filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #cs-navigation .cs-link,
  body.dark-mode #cs-navigation .cs-header,
  body.dark-mode #cs-navigation .cs-li-link {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #cs-navigation .cs-li-link:before {
    background-color: var(--primaryLight);
  }
}
/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #int-hero {
    z-index: 1;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 30vh;
    padding-top: 3.125rem;
  }
  #int-hero picture {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  #int-hero picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #int-hero h1 {
    position: relative;
    margin: 0 auto;
    margin-top: 4.375rem;
    margin-bottom: 1.875rem;
    max-width: 31.25rem;
    width: 96%;
    font-size: 2.13333333rem;
    color: #fff;
    text-align: center;
  }
  #int-hero p {
    display: block;
    margin: auto;
    margin-bottom: 1.875rem;
    max-width: 25rem;
    width: 96%;
    color: #fff;
    text-align: center;
  }
  #int-hero:before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0.7;
    display: block;
    background: #000;
    height: 100%;
    width: 100%;
  }
}
/* Tablet */
@media only screen and (min-width: 48rem) {
  #int-hero {
    font-size: 100%;
  }
  #int-hero h1 {
    font-size: 4rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64rem) {
  #int-hero {
    background-attachment: fixed;
    min-height: 18.75rem;
    height: auto;
    padding-top: 11.25rem;
    font-size: inherit;
    -webkit-padding-after: 6.25rem;
            padding-block-end: 6.25rem;
  }
}
/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #cta {
    position: relative;
    padding: 3.125rem 0;
  }
  #cta .container {
    text-align: center;
  }
  #cta picture {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  #cta picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #cta .title {
    position: relative;
    margin-bottom: 2.25rem;
    font-size: min(9vw, 3rem);
    line-height: 1.20833333em;
    font-weight: 900;
    color: #fff;
    text-align: center;
  }
  #cta p {
    opacity: 1;
    margin: auto;
    margin-bottom: 2.25rem;
    max-width: 37.375rem;
    width: 96%;
    color: #fff;
    text-align: center;
  }
  #cta:before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0.7;
    display: block;
    background: #000;
    height: 100%;
    width: 100%;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64rem) {
  #cta {
    padding: 10.5rem 0;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #cta {
    position: relative;
    margin-top: 6.25rem;
  }
  #cta .container {
    margin: auto;
    width: 90.0625%;
  }
  #cta picture {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 90.0625%;
  }
  #cta picture:before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0.7;
    display: block;
    background: #000;
    height: 100%;
    width: 100%;
  }
  #cta:before {
    display: none;
  }
  #cta:after {
    z-index: -3;
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    opacity: 1;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: block;
    background: url("/assets/svgs/cta-squares.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 69.25rem;
    width: 125rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #cta:after {
    display: none;
  }
}
/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-1291 {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    margin-bottom: -5.625rem;
    border-radius: 1rem;
    overflow: hidden;
    /* 40px - 80px */
    padding: clamp(2.5rem, 5vw, 5rem);
    /* prevents padding and border from affecting height and width */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 15;
    -webkit-transform: translateY(-9.375rem);
            transform: translateY(-9.375rem);
  }
  #cta-1291 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    /* changes to 100% at tablet */
    max-width: 25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
  }
  #cta-1291 .cs-title {
    width: 100%;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #cta-1291 .cs-form {
    width: 100%;
    max-width: 45.3125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    /* prevents flexbox from squishing it */
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  #cta-1291 .cs-input {
    font-size: 1rem;
    width: 100%;
    height: clamp(2.875rem, 5.5vw, 3.5rem);
    margin: 0;
    padding: 0;
    padding-left: 1.25rem;
    border: none;
    /* prevents padding from adding to width and height */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
  }
  #cta-1291 .cs-input::-webkit-input-placeholder {
    color: #767676;
  }
  #cta-1291 .cs-input:-ms-input-placeholder {
    color: #767676;
  }
  #cta-1291 .cs-input::-ms-input-placeholder {
    color: #767676;
  }
  #cta-1291 .cs-input::placeholder {
    color: #767676;
  }
  #cta-1291 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    border-radius: 0.25rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #cta-1291 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }
  #cta-1291 .cs-button-solid:hover:before {
    width: 100%;
  }
  #cta-1291 .cs-button-solid {
    background-color: #fff;
    color: var(--primary);
  }
  #cta-1291 .cs-background {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta-1291 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cta-1291 .cs-container {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  #cta-1291 .cs-content {
    text-align: left;
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #cta-1291 .cs-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #cta-1291 .cs-input {
    width: 100%;
    max-width: 32.8125rem;
  }
  #cta-1291 .cs-submit {
    width: auto;
    min-width: 11.875rem;
    /* prevents flexbox from squishing it */
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}
/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #cta-1291 {
    margin-bottom: 0rem;
  }
  #cta-1291 .cs-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #cta-1291 .cs-form {
    width: 60%;
  }
}
/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer-1291 {
    padding: var(--sectionPadding);
    padding-top: 0;
    padding-bottom: 1.25rem;
    position: relative;
    z-index: 25;
    /* Navigation Links */
  }
  #cs-footer-1291 .cs-container {
    width: 100%;
    margin: auto;
  }
  #cs-footer-1291 .cs-logo-group {
    /* takes up all the space, lets the other ul's wrap below it */
    width: 100%;
    position: relative;
  }
  #cs-footer-1291 .cs-logo {
    width: 12.3125rem;
    height: auto;
    display: block;
    /* 20px - 24px */
    margin: 0 0 clamp(1.25rem, 2vw, 1.5rem) 0;
  }
  #cs-footer-1291 .cs-logo-img {
    width: 100%;
    height: auto;
  }
  #cs-footer-1291 .cs-logo-img.dark {
    display: none;
  }
  #cs-footer-1291 .cs-link {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.75rem;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  #cs-footer-1291 .cs-link:hover {
    color: var(--primary);
  }
  #cs-footer-1291 .cs-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
    row-gap: 2.25rem;
  }
  #cs-footer-1291 .cs-nav {
    width: 45%;
    max-width: 11.25rem;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  #cs-footer-1291 .cs-nav-li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #cs-footer-1291 .cs-header {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--headerColor);
    position: relative;
    display: block;
  }
  #cs-footer-1291 .cs-nav-link {
    font-size: 0.875rem;
    text-decoration: none;
    line-height: 1.5em;
    width: auto;
    color: var(--bodyTextColor);
    position: relative;
    display: inline-block;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  #cs-footer-1291 .cs-nav-link:before {
    /* underline */
    content: "";
    width: 0%;
    height: 0.125rem;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.125rem;
    left: 0;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }
  #cs-footer-1291 .cs-nav-link:hover {
    color: var(--primary);
  }
  #cs-footer-1291 .cs-nav-link:hover:before {
    width: 100%;
  }
  #cs-footer-1291 .cs-bottom {
    max-width: 80rem;
    margin: auto;
    /* 48px - 100px */
    margin-top: clamp(3rem, 6vw, 6.25rem);
    /* 20px - 32px */
    padding: clamp(1.25rem, 3vw, 2rem) 0 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 2.25rem;
            column-gap: 2.25rem;
    row-gap: 0.75rem;
  }
  #cs-footer-1291 .cs-copyright,
  #cs-footer-1291 .cs-copyright-link {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #cs-footer-1291 .cs-copyright {
    text-align: center;
    width: 100%;
  }
  #cs-footer-1291 .cs-copyright-link {
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  #cs-footer-1291 .cs-copyright-link:hover {
    color: var(--secondary);
  }
  #cs-footer-1291 .cs-floater-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
  }
  #cs-footer-1291 .cs-floater {
    width: 31.625rem;
    height: 31.625rem;
    margin-left: 34.375rem;
    border-radius: 50%;
    border: 2px solid var(--primary);
    opacity: 0.1;
    display: none;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -1;
  }
  #cs-footer-1291 .cs-floater:before {
    content: "";
    width: 44.6875rem;
    height: 44.6875rem;
    border: 6px solid var(--primary);
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #cs-footer-1291 .cs-floater:after {
    content: "";
    width: 60.1875rem;
    height: 60.1875rem;
    border: 2px solid var(--primary);
    border-radius: 50%;
    opacity: 0.3;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer-1291 .cs-wrapper {
    row-gap: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-column-gap: 5.5rem;
            column-gap: 5.5rem;
    row-gap: 2.5rem;
  }
  #cs-footer-1291 .cs-nav {
    width: auto;
  }
  #cs-footer-1291 .cs-bottom {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #cs-footer-1291 .cs-copyright {
    text-align: left;
    width: auto;
    margin-right: auto;
  }
  #cs-footer-1291 .cs-floater {
    display: block;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-footer-1291 .cs-container {
    max-width: 80rem;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    /* align everything to the right */
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-column-gap: clamp(2.5rem, 6vw, 5.25rem);
            column-gap: clamp(2.5rem, 6vw, 5.25rem);
  }
  #cs-footer-1291 .cs-logo-group {
    width: 30%;
    max-width: 24.1875rem;
    /* pushes away from everything to the right */
    margin-right: auto;
  }
  #cs-footer-1291 .cs-text {
    width: 100%;
  }
  #cs-footer-1291 .cs-graphic {
    display: block;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #cs-footer-1291 .cs-text,
  body.dark-mode #cs-footer-1291 .cs-link,
  body.dark-mode #cs-footer-1291 .cs-nav-link,
  body.dark-mode #cs-footer-1291 .cs-header,
  body.dark-mode #cs-footer-1291 .cs-copyright,
  body.dark-mode #cs-footer-1291 .cs-copyright-link {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #cs-footer-1291 .cs-link .cs-link-icon {
    -webkit-filter: grayscale(1) brightness(1000%);
            filter: grayscale(1) brightness(1000%);
  }
}
