/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1250 {
        padding: var(--sectionPadding);
        /* 200px - 300px - leaving extra space for the navigation */
        padding-top: clamp(12.5rem, 31.95vw, 18.75rem);
        padding-bottom: clamp(12.5rem, 31.95vw, 18.75rem);
        position: relative;
        z-index: 10;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            display: block;
            height: 43.75em;
            width: 93.75em;
            background: var(--primary);
            opacity: .4;
            bottom: -6.25em;
            left: 50%;
            margin-left: -11.25em;
            z-index: 1;
            transform: rotate(-45deg);
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 43.75em;
            width: 93.75em;
            background: #3b782c;
            opacity: .4;
            bottom: -12.5em;
            left: 50%;
            margin-left: -10em;
            z-index: 1;
            transform: rotate(-45deg);
        }

        .cs-container {
            width: 100%;
            max-width: (1440/16rem);
            padding: 0;
            margin: auto;
            display: flex;
            justify-content: start;
            align-items: flex-start;
            flex-direction: column;
            gap: (100/16rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (646/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;

        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            max-width: (829/16rem);
            margin: 0 0 (16/16rem) 0;
            color: #fff;
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.95vw, 1.25rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            /* 464px - 622px */
            max-width: clamp(29rem, 60vw, 38.785rem);
            margin: 0 0 (40/16rem) 0;
            color: #fff;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            min-width: (150/16rem);
            margin: 0;
            color: #fff;
            padding: 0 (24/16rem);
            overflow: hidden;
            border-radius: (4/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: bold;
            text-align: inherit;
            margin: 0 0 (12/16rem) 0;
            color: var(--bodyTextColorWhite);
            transition: color 0.3s;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* Overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.6;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                /* makes the top of the image start at the top of the parent */
                object-position: top;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1250 {
        z-index: 0;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-1250 {
        &::after {
            margin-left: -5em;
        }
    }
}

/* Large Desktop Parallax Effect - 100px */
@media only screen and (min-width: 100rem) {
    #hero-1250 {

        &::before {
            bottom: -18.75em;
            height: 62.5em;
            margin-left: 6.25em;
        }

        &::after {
            bottom: -31.25em;
            height: 62.5em;
            margin-left: 6.25em;
        }

        .cs-background {
            &::before {
                width: 60%;
                background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 42%,rgba(255,255,255,0) 100%);
                opacity: 1;
                z-index: -1;
            }
        }

        .cs-title {
            color: #1a1a1a;
        }

        .cs-text {
            color: #1a1a1a;
        }

        .cs-background {
            background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            /* creates the parallax effect */
            background-attachment: fixed;
            img {
                display: none;
            }
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #hero-1250 {

            .cs-title {
                color: #fff;
            }

            .cs-text {
                color: #fff;
            }

            .cs-background {
                &::before {
                    background: linear-gradient(to right, rgba(57,123,47,0.83) 0%,rgba(0,0,0,0.24) 47%,rgba(0,0,0,0.21) 49%,rgba(0,0,0,0) 66%,rgba(0,0,0,0) 69%);
                }
            }
        }
    }
}

 /*-- -------------------------- -->
<---         Services            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services {
        border-radius: 0.3125em;
        margin: auto;
        margin-top: -10.4375em;
        position: relative;
        z-index: 100;
        background: #fff;
        width: 90%;
        max-width: 82.5em;
        padding: 3.125em 1.25em;
        border-top: 0.375em solid var(--primary);
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
        margin-bottom: 3.125em;
        z-index: 0;

        .card {
            display: block;
            width: 100%;
            max-width: 22.3125em;
            margin: auto;
            margin-bottom: 3.125em;
            perspective: 700px;
            z-index: 0;
            
            

            picture {
                background: var(--primary);
                width: 5.5em;
                height: 5.5em;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                margin-bottom: 1.4375em;
                border-radius: 50%;
                transition: transform .6s;
                transform-style: preserve-3d;

                img {
                    width: 3em;
                    height: 3em;
                }
            }
        }

        .cs-title {
            text-align: center;
            font-size: 1.25em;
            line-height: 1.6875em;
            font-weight: 700;
            text-transform: uppercase;
            color: #1a1a1a;
            margin-bottom: 0.8125em;
        }

        .cs-text {
            text-align: center;
            line-height: 1.33333333em;
            width: 100%;
            opacity: .7;
        }
    }
} 

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 98%;

        .card {
            margin: 0;
            max-width: 20.3125em;

            picture {
                margin-bottom: 0.75em; 
            }
        }
    }
}

/* Large Desktop Parallax Effect - 100px */
@media only screen and (min-width: 100rem) {
    #services {
        margin-right: 0;
    }
}

/* Dark mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #services {

            background-color: #1a1a1a;
            picture {
                transform: rotateY(180deg);
            }

            .cs-title {
                color: #fff;
            }
        }
    }
}

                                

