/*-- -------------------------- -->
<---          Award             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-563 {
      padding: var(--sectionPadding);

      .cs-container {
          width: 100%;
          /* changes to 1280px at tablet */
          max-width: (550/16rem);
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* 48px - 64px */
          gap: clamp(1rem, 3vw, 4.05rem);
      }

      .cs-content {
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
      }

      .cs-topper {
          color: var(--headerColor);
      }

      .cs-text {
          margin-bottom: (16/16rem);
          &:last-of-type {
              margin-bottom: (32/16rem);
          }
      }

      .cs-color {
          color: var(--primary);
      }

      .cs-h3 {
          /* 25px - 31px */
          font-size: clamp(1.5625rem, 3vw, 1.9375rem);
          line-height: 1.2em;
          font-weight: 700;
          text-align: inherit;
          /* 16px - 20px */
          margin: 0 0 clamp(1rem, 1.9vw, 1.25rem) 0;
          color: var(--headerColor);
      }

      .cs-ul {
          width: 100%;
          margin: 0 0 (32/16rem) 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          /* 16px - 24px */
          gap: clamp(1rem, 2.5vw, 1.5rem);
      }

      .cs-li {
          /* 16px - 20px */
          font-size: clamp(1rem, 2vw, 1.25rem);
          font-weight: 700;
          list-style: none;
          line-height: 1.5em;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          /* push icon top the top so if the list item goes to two lines the icon stays at the top */
          align-items: flex-start;
          gap: (20/16rem);
      }

      .cs-icon {
          /* adds extra space between the icon and top of parent so it's more centered */
          margin-top: clamp(0.125rem, 0.47vw, 0.4375rem);
      }

      .cs-button-solid {
          font-size: (16/16rem);
          /* 46px - 56px */
          line-height: clamp(2.875rem, 5.5vw, 3.5rem);
          text-decoration: none;
          font-weight: 700;
          text-align: center;
          margin: 0;
          color: #000;
          min-width: (150/16rem);
          padding: 0 (24/16rem);
          background-color: var(--primary);
          border-radius: (4/16rem);
          display: inline-block;
          position: relative;
          z-index: 1;
          /* prevents padding from adding to the width */
          box-sizing: border-box;

          &:before {
              content: "";
              position: absolute;
              height: 100%;
              width: 0%;
              background: #000;
              opacity: 1;
              top: 0;
              left: 0;
              z-index: -1;
              border-radius: (4/16rem);
              transition: width 0.3s;
          }

          &:hover {
              &:before {
                  width: 100%;
              }
          }
      }

      .cs-picture {
          /* changes at tablet */
          width: 100%;

          /* changes to a clamp at tablet */
          height: (396/16rem);
          display: block;
          position: relative;

          img {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              object-fit: contain;
          }
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-563 {
      .cs-container {
          max-width: (1280/16rem);
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;

      }

      .cs-picture {
          width: 40%;
          /* 415px - 528px */
          height: clamp(28.5rem, 46vw, 37.375rem);
          /* sends it to the right in the 2nd position */
          order: 2;
      }

      .cs-content {
          width: 55%;
          max-width: (460/16rem);
      }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-563 {
    .cs-picture {
      width: 50%;
    }
  }
}


/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
      #services-563 {
          .cs-topper {
              color: var(--bodyTextColorWhite);
          }

          .cs-color {
              color: var(--primaryLight);
          }
          .cs-title,
          .cs-text,
          .cs-h3,
          .cs-li {
              color: var(--bodyTextColorWhite);
          }

          .cs-text {
              opacity: 0.8;
          }

          .cs-icon {
              filter: brightness(150%);
          }
      }
  }
}

                              

/*-- -------------------------- -->
<---   About Side By Side       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs {
      padding: var(--sectionPadding);

      .cs-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: auto;
          max-width: (1280/16rem);
          width: 100%;
          row-gap: (40/16rem);
      }

      .cs-left {
          position: relative;
          height: (636/16em);
          /* using ems so we can use font size to scale the whole section */
          width: (631/16em);
          /* scaling the font size with the view width */
          font-size: ~"min(2.31vw, 0.7em)";
      }

      .cs-picture {
          position: absolute;
          display: block;
          border-radius: (24/16em);
          /* clips img tag corners */
          overflow: hidden;
          img {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              /* makes image act like a background image */
              object-fit: cover;
          }
      }

      .cs-picture1 {
          top: 0;
          left: 0;
          height: (581/16em);
          width: (522/16em);
      }

      .cs-picture2 {
          bottom: 0;
          right: 0;
          /* 6px - 12px */
          border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
          background-color: #fff;
          height: (400/16em);
          width: (414/16em);
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
      }

      .cs-right {
          margin: auto;
          max-width: (542/16rem);
      }

      .cs-topper {
          margin-bottom: (4/16rem);
          text-align: left;
      }

      .cs-title {
          max-width: (800/16rem);
          text-align: left;
      }

      .cs-text {
          margin-bottom: (16/16rem);
          max-width: (750/16rem);
          color: var(--bodyTextColor);
          text-align: left;

          &:last-of-type {
              margin-bottom: (32/16rem);
          }
      }

      .cs-flex-group {
          position: relative;
          border-radius: (16/16rem);
          background-color: #f7f7f7;
          /* 16px - 32px */
          padding: clamp(1rem, 3vw, 2rem);
      }

      .cs-flex-p {
          margin: 0 0 (16/16rem);
          /* 14px - 16px */
          font-size: clamp(0.875rem, 1.5vw, 1rem);
          line-height: 1.5em;
          color: #353535;
      }

      .cs-name {
          display: block;
          margin: 0 0 (4/16rem);
          text-transform: uppercase;
          font-size: (16/16rem);
          line-height: 1.2em;
          font-weight: bold;
          color: var(--headerColor);
      }

      .cs-job {
          display: block;
          font-size: (14/16rem);
          line-height: 1.5em;
          color: #353535;
      }

      .cs-quote-icon {
          position: absolute;
          bottom: (0/16rem);
          /* 16px - 32px */
          right: clamp(1rem, 4vw, 2rem);
          height: auto;
          /* 60px - 136px */
          width: clamp(3.75rem, 10vw, 8.5rem);
      }

      .cs-button-solid {
          margin-top: (32/16rem);
      }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs {
      .cs-container {
          flex-flow: row;
          justify-content: space-between;
          gap: (52/16rem);
      }

      .cs-left {
          font-size: ~"min(1.2vw, 1em)";
          flex: none;
      }

      .cs-right {
          margin: 0;
      }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
      #sbs {
          .cs-left {
              &:before,
              &:after {
                  background: var(--accent);
              }
          }

          .cs-picture2 {
              /* 6px - 12px */
              border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
              background-color: var(--dark);
          }

          .cs-topper {
              color: var(--primaryLight);
          }

          .cs-title,
          .cs-text,
          .cs-h3,
          .cs-flex-p,
          .cs-name {
              color: var(--bodyTextColorWhite);
          }

          .cs-flex-group {
              background-color: var(--accent);
          }

          .cs-job {
              opacity: 0.8;
              color: var(--bodyTextColorWhite);
          }

          .cs-quote-icon {
              opacity: 0.2;
          }
      }
  }
}

/*-- -------------------------- -->
<---        Area Banner         -->
<--- -------------------------- -*/

/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0em) {
  #banner {
    text-align: center;
    position: relative;
    background: linear-gradient(120deg, #aacc7a 5%, #88ab75 95%);
    justify-content: center;

    .ban-container {
      width: 100%;
      max-width: (1820/16em);
      margin: auto;
      padding: 0px (16/16em);
      text-align: center;
    }

    .title {
      text-align: center;
      display: block;
      margin-bottom: (6/16em);
      padding-top: (16/16em);
      color: #fff;
      font-size: var(--headerFontSize);
      font-weight: 300;
    }

    .area {
      text-align: center;
      padding-bottom: (35/16em);
      color: #fff;
      font-size: var(--topperFontSize);
    }
  }
}

/*-- -------------------------- -->
<---  Extra Content to Rank     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-r {
      padding: var(--sectionPadding);

      .cs-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: auto;
          max-width: (1280/16rem);
          width: 100%;
          row-gap: (40/16rem);
      }

      .cs-left {
          position: relative;
          height: (636/16em);
          /* using ems so we can use font size to scale the whole section */
          width: (631/16em);
          /* scaling the font size with the view width */
          font-size: ~"min(2.31vw, 0.7em)";
      }

      .cs-picture {
          position: absolute;
          display: block;
          border-radius: (24/16em);
          /* clips img tag corners */
          overflow: hidden;
          img {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              /* makes image act like a background image */
              object-fit: cover;
          }
      }

      .cs-picture1 {
          top: 0;
          right: 0;
          height: (581/16em);
          width: (522/16em);
      }

      .cs-picture2 {
          bottom: 0;
          left: 0;
          /* 6px - 12px */
          border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
          background-color: #fff;
          height: (400/16em);
          width: (414/16em);
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
      }

      .cs-right {
          margin: auto;
          max-width: (542/16rem);
      }

      .cs-topper {
          margin-bottom: (4/16rem);
          text-align: left;
      }

      .cs-title {
          max-width: (800/16rem);
          text-align: left;
      }

      .cs-text {
          margin-bottom: (16/16rem);
          max-width: (750/16rem);
          text-align: left;
          &:last-of-type {
              margin-bottom: (32/16rem);
          }
      }

      .cs-flex-group {
          position: relative;
          border-radius: (16/16rem);
          background-color: #f7f7f7;
          /* 16px - 32px */
          padding: clamp(1rem, 3vw, 2rem);
      }

      .cs-flex-p {
          margin: 0 0 (16/16rem);
          /* 14px - 16px */
          font-size: clamp(0.875rem, 1.5vw, 1rem);
          line-height: 1.5em;
          color: #353535;
      }

      .cs-name {
          display: block;
          margin: 0 0 (4/16rem);
          text-transform: uppercase;
          font-size: (16/16rem);
          line-height: 1.2em;
          font-weight: bold;
          color: var(--headerColor);
      }

      .cs-job {
          display: block;
          font-size: (14/16rem);
          line-height: 1.5em;
          color: #353535;
      }

      .cs-quote-icon {
          position: absolute;
          bottom: (0/16rem);
          /* 16px - 32px */
          right: clamp(1rem, 4vw, 2rem);
          height: auto;
          /* 60px - 136px */
          width: clamp(3.75rem, 10vw, 8.5rem);
      }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-r {
      .cs-container {
          flex-flow: row;
          justify-content: space-between;
          gap: (52/16rem);
      }

      .cs-left {
          /* sends it to the right */
          order: 2;
          font-size: ~"min(1.2vw, 1em)";
          flex: none;
      }

      .cs-right {
          margin: 0;
      }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
      #sbs-r {
          .cs-left {
              &:before,
              &:after {
                  background: var(--accent);
              }
          }

          .cs-picture2 {
              /* 6px - 12px */
              border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
              background-color: var(--dark);
          }

          .cs-topper {
              color: var(--primaryLight);
          }

          .cs-title,
          .cs-text,
          .cs-h3,
          .cs-flex-p,
          .cs-name {
              color: var(--bodyTextColorWhite);
          }

          .cs-flex-group {
              background-color: var(--accent);
          }

          .cs-job {
              opacity: 0.8;
              color: var(--bodyTextColorWhite);
          }

          .cs-quote-icon {
              opacity: 0.2;
          }
      }
  }
}

/*-- -------------------------- -->
<---        Services            -->
<--- -------------------------- -*/
/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0em) {
    #grids {
      padding: var(--sectionPadding);
      position: relative;
      background: #fff;
      z-index: 2;
  
      .cs-button-solid {
        height: (40/16em);
        line-height: (40/16em);
        color: #fff;
      }

      .cb {
        width: 100%;
        max-width: (1200/16em);
        justify-content: center;
        text-align: center;
        align-content: center;
        margin: auto;
        padding-top: (85/16em);
      }
  
      .florida {
        width: 100%;
        max-width: (1200/16em);
        justify-content: center;
        text-align: center;
        align-content: center;
        margin: auto;
        padding-bottom: (45/16em);
      }
  
      .care {
        font-size: var(--headerFontSize);
        padding-bottom: (8/16em);
      }
  
      .cs-topper {
        font-size: clamp(1.1rem, 1.6vw, 1.2rem);
        color: var(--primary);
        text-transform: uppercase;
      }
  
      .grid-1 {
        width: 100%;
        max-width: (1350/16em);
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: (15/16em);
      }
  
      .s-pic {
        position: relative;
        display: block;
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          z-index: 0;
        }
      }
  
      .gt {
        color: #fff;
        font-size: clamp(1.8rem, 4.5vw, 2.5625rem);
        text-shadow: #000;
        letter-spacing: 0.06em;
        z-index: 1;
      }
  
      .box1 {
        width: 100%;
        height: (230/16em);
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
      }
  
      .s-pic1 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        object-position: 30px 80%;
      }
  
      .box2 {
        width: 100%;
        height: (230/16em);
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
      }
  
      .s-pic2 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: contain;
        font-size: ~"min(1.1vw, 1em)";
      }
  
      .box3 {
        width: 100%;
        height: (230/16em);
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
      }
  
      .s-pic3 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        object-fit: cover;
        font-size: ~"min(1.1vw, 1em)";
        object-position: 50%;
      }
  
      .box4 {
        width: 100%;
        height: (230/16em);
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
      }
  
      .s-pic4 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        object-fit: contain;
        font-size: ~"min(1.1vw, 1em)";
      }
  
      .box5 {
        width: 100%;
        height: (230/16em);
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
      }
  
      .s-pic5 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        object-fit: contain;
        font-size: ~"min(1.1vw, 1em)";
      }
  
      .box6 {
        width: 100%;
        height: (230/16em);
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
      }
  
      .s-pic6 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        object-fit: contain;
        font-size: ~"min(1.1vw, 1em)";
      }
    }
  }
  
  /* Tablet - 768px */
  @media only screen and (min-width: 48em) {
    #grids {
      padding: var(--sectionPadding);
      position: relative;
  
      .grid-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        max-width: (1350/16em);
        grid-auto-rows: 20vw;
        color: #fff;
        gap: (16/16em);
        margin: auto;
        padding: 0 (15/16em);
      }
  
      .s-pic {
        position: relative;
        display: block;
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
  
      .box1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        width: 100%;
        height: 100%;
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
        filter: grayscale(0);
  
        &:hover {
          .s-pic1 {
            filter: grayscale(1);
            transition: ease 0.5s;
          }
        }
      }
  
      .gt {
        color: #fff;
        font-size: clamp(1.5rem, 4.5vw, 2.5625rem);
        text-shadow: #767676;
      }
  
      .s-pic1 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        object-fit: cover;
        font-size: ~"min(1.1vw, 1em)";
        filter: grayscale(0);
  
        &:hover {
          filter: grayscale(1);
        }
      }
  
      .box2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
        height: 100%;
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
        filter: grayscale(0);
  
        &:hover {
          .s-pic2 {
            filter: grayscale(1);
            transition: ease 0.5s;
          }
        }
      }
  
      .s-pic2 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
        font-size: ~"min(1.1vw, 1em)";
      }
  
      .box3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 100%;
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
        filter: grayscale(0);
  
        &:hover {
          .s-pic3 {
            filter: grayscale(1);
            transition: ease 0.5s;
          }
        }
      }
  
      .s-pic3 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
        font-size: ~"min(1.1vw, 1em)";
      }
  
      .box4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 100%;
        height: 100%;
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
        filter: grayscale(0);
  
        &:hover {
          .s-pic4 {
            filter: grayscale(1);
            transition: ease 0.5s;
          }
        }
      }
  
      .s-pic4 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        object-fit: contain;
        object-position: 30px 80%;
      }
  
      .box5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        width: 100%;
        height: 100%;
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
        filter: grayscale(0);
  
        &:hover {
          .s-pic5 {
            filter: grayscale(1);
            transition: ease 0.5s;
          }
        }
      }
  
      .s-pic5 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        object-position: 30px 80%;
      }
  
      .box6 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
        width: 100%;
        height: 100%;
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
        filter: grayscale(0);
  
        &:hover {
          .s-pic6 {
            filter: grayscale(1);
            transition: ease 0.5s;
          }
        }
      }
      .s-pic6 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        object-position: 30px 80%;
      }
    }
  }
  
  /* Small Desktop */
  @media only screen and (min-width: 64em) {
    #grids {
      padding: var(--sectionPadding);
      position: relative;
  
      .grid-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        max-width: (1350/16em);
        grid-auto-rows: (250/16rem);
        color: #fff;
        gap: (16/16em);
        margin: auto;
      }
  
      .s-pic {
        position: relative;
        display: block;
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
  
      .box1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        width: 100%;
        height: 100%;
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
        filter: grayscale(0);
  
        &:hover {
          .s-pic1 {
            filter: grayscale(1);
            transition: ease 0.5s;
          }
        }
      }
  
      .gt {
        color: #fff;
        font-size: clamp(1.5rem, 4.5vw, 2.5625rem);
        text-shadow: 2px 2px 6px #000;
      }
  
      .s-pic1 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        object-fit: cover;
        font-size: ~"min(1.1vw, 1em)";
        filter: grayscale(0);
  
        &:hover {
          filter: grayscale(1);
        }
      }
  
      .box2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
        height: 100%;
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
        filter: grayscale(0);
  
        &:hover {
          .s-pic2 {
            filter: grayscale(1);
            transition: ease 0.5s;
          }
        }
      }
  
      .s-pic2 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
        font-size: ~"min(1.1vw, 1em)";
      }
  
      .box3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 100%;
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
        filter: grayscale(0);
  
        &:hover {
          .s-pic3 {
            filter: grayscale(1);
            transition: ease 0.5s;
          }
        }
      }
  
      .s-pic3 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
        font-size: ~"min(1.1vw, 1em)";
      }
  
      .box4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 100%;
        height: 100%;
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
        filter: grayscale(0);
  
        &:hover {
          .s-pic4 {
            filter: grayscale(1);
            transition: ease 0.5s;
          }
        }
      }
  
      .s-pic4 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        object-fit: contain;
        object-position: 30px 80%;
      }
  
      .box5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        width: 100%;
        height: 100%;
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
        filter: grayscale(0);
  
        &:hover {
          .s-pic5 {
            filter: grayscale(1);
            transition: ease 0.5s;
          }
        }
      }
  
      .s-pic5 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        object-position: 30px 80%;
      }
  
      .box6 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
        width: 100%;
        height: 100%;
        position: relative;
        align-content: end;
        padding-left: (15/16em);
        padding-bottom: (15/16em);
        filter: grayscale(0);
  
        &:hover {
          .s-pic6 {
            filter: grayscale(1);
            transition: ease 0.5s;
          }
        }
      }
      .s-pic6 {
        overflow: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        object-position: 30px 80%;
      }
    }
  }
  
  /* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #grids {
            background-color: var(--dark);
            .cs-title,
            .cs-text,
            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }

        }
    }
}

/*-- -------------------------- -->
<---          Steps             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-1713 {
      overflow: hidden;
      position: relative;
      z-index: 1;

      .cs-container {
          max-width: (1280/16rem);
          margin: auto;
          display: flex;
          flex-direction: column;
      }

      .cs-wrapper {
          /* changes to 630px on tablet */
          max-width: (500/16rem);
          margin: auto;
          padding: var(--sectionPadding);
          display: flex;
          flex-direction: column;
          /* 48px - 64px */
          gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
          /* set text align to center if content needs to be centrally aligned */
          text-align: left;
          width: 100%;
          display: flex;
          flex-direction: column;
          /* aligns content to the left, set to center to centrally align */
          align-items: flex-start;
      }

      .cs-title {
          margin: 0;
      }

      .cs-card-group {
          margin: 0;
          padding: 0;
          display: grid;
          justify-items: center;
          align-items: stretch;
          /* 24px - 32px */
          gap: clamp(1.5rem, 3vw, 2rem);
          grid-auto-flow: row;
      }

      .cs-item {
          list-style: none;
          display: flex;
          align-items: flex-start;
          position: relative;
      }

      .cs-number {
          /* 80px - 100px */
          font-size: clamp(5rem, 9vw, 6.25rem);
          font-weight: 900;
          line-height: 1.2em;
          letter-spacing: -2px;
          margin-right: (-20/16rem);
          color: var(--primary);
          opacity: 0.42;
          display: block;
      }

      .cs-h3 {
          font-size: (25/16rem);
          font-weight: 700;
          line-height: 1.2em;
          margin: 0 0 (12/16rem) 0;
          color: var(--headerColor);
      }

      .cs-item-text {
          /* 14px - 16px */
          font-size: clamp(0.875rem, 2vw, 1rem);
          line-height: 1.5em;
          text-align: left;
          margin: 0;
          color: var(--bodyTextColor);
      }

      .cs-background {
          width: 100%;
          height: (360/16rem);
          display: block;

          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-1713 {
      padding: var(--sectionPadding);

      .cs-container {
          padding: 0;
          flex-direction: row;
          justify-content: flex-end;
      }

      .cs-title {
          margin: 0;
      }

      .cs-wrapper {
          width: 65vw;
          max-width: (630/16rem);
          margin: 0;
          padding: 0;
      }

      .cs-card-group {
          /* 16px - 32px */
          gap: clamp(1rem, 3vw, 2rem);
      }

      .cs-item {
          flex-direction: row;
      }

      .cs-picture {
          width: (180/16rem);
          height: (180/16rem);
      }

      .cs-background {
          width: 30%;
          height: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          img {
            border-bottom-right-radius: (10/16rem);
            border-top-right-radius: (10/16rem);
          }
      }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #steps-1713 {
      .cs-wrapper {
          width: 50vw;
      }

      .cs-background {
          width: 50vw;
          right: 50%;
          left: auto;
          margin-right: (128/16rem);
      }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
      #steps-1713 {
          .cs-title,
          .cs-h3,
          .cs-item-text {
              color: var(--bodyTextColorWhite);
          }

          .cs-item-text {
              opacity: 0.8;
          }
      }
  }
}
                              


/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-579 {

      @keyframes floatAnimation {
          0% {
              transform: translateY(0);
          }
          50% {
              transform: translateY(-0.6em);
          }
          100% {
              transform: translateY(0);
          }
      }

      .cs-container {
          width: 100%;
          max-width: (1280/16rem);
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* 48px - 64px */
          gap: clamp(3rem, 7vw, 4rem);
      }

      .cs-content {
          /* set text align to left if content needs to be left aligned */
          text-align: left;
          width: 100%;
          max-width: (522/16rem);
          /* moved section padding to the .cs-content so we can have the cs-picture be full width on mobile without the padding preventing it from doing so */
          padding: var(--sectionPadding);
          padding-top: 0;
          /* prevents padding from affecting width and height */
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: flex-start;
      }

      .cs-title {
        &::before {
          content: '';
          position: absolute;
          display: block;
          height: 4px;
          width: 1.515625em;
          background: var(--primary);
          opacity: 1;
          bottom: -0.390625em;
          left: 0;
          margin-bottom: (10/16rem);
        }
      }

      .cs-text {
          margin-top: (30/16em);
          margin-bottom: (16/16rem);
          &:last-of-type {
              margin-bottom: (32/16rem);
          }
      }

      .cs-button-solid {
          font-size: (16/16rem);
          /* 46px - 56px */
          line-height: clamp(2.875rem, 5.5vw, 3.5rem);
          text-decoration: none;
          font-weight: 700;
          text-align: center;
          margin: 0;
          color: #fff;
          min-width: (150/16rem);
          padding: 0 (24/16rem);
          background-color: var(--primary);
          display: inline-block;
          position: relative;
          z-index: 1;
          /* prevents padding from adding to the width */
          box-sizing: border-box;

          &:before {
              content: "";
              position: absolute;
              height: 100%;
              width: 0%;
              background: #000;
              opacity: 1;
              top: 0;
              left: 0;
              z-index: -1;
              border-radius: (4/16rem);
              transition: width 0.3s;
          }

          &:hover {
              &:before {
                  width: 100%;
              }
          }
      }

      .cs-picture {
          display: block;
          position: relative;
          width: 100%;
          height: (300/16rem);

          img {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              object-fit: cover;
              border-radius: (10/16em);
          }
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-579 {
      padding: var(--sectionPadding);

      .cs-container {
          flex-direction: row;
          justify-content: flex-end;
          /* 60px - 128px */
          gap: clamp(3.75rem, 10vw, 8rem);
      }

      .cs-content {
          width: 53%;
          /* reset the padding, add the section padding back to the section container */
          padding: 0;
      }

      .cs-picture {
          width: 47vw;
          max-width: (494/16rem);
          /* 518px - 700px */
          height: clamp(32.375rem, 63vw, 43.75rem);
          /* 16px - 28px, added margin left and bottom to cs-picture so it pushes away by the same amount the yellow box element overlaps it left and bottom. This maintains consistent spacing left and bottom */
          margin: 0 0 clamp(1rem, 2.4vw, 1.75rem) clamp(1rem, 2.4vw, 1.75rem);
          position: relative;
          /* sends it to the right in the 2nd position */
          order: 2;

          &:before {
              /* yellow box */
              content: "";
              width: 50%;
              height: 60%;
              background: var(--primary);
              opacity: 1;
              display: block;
              position: absolute;
              /* 16px - 28px, wrapped in calc function to multiple by negative 1 and get a negative clamp value */
              bottom: ~"calc(clamp(1rem, 2.4vw, 1.75rem)*-1)";
              right: ~"calc(clamp(1rem, 2.4vw, 1.75rem)*-1)";
              border-radius: (10/16em);
              animation-name: floatAnimation;
              animation-duration: 4s;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forwards;
              animation-iteration-count: infinite;
          }
      }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
      #sbsr-579 {

          .cs-title,
          .cs-text {
              color: var(--bodyTextColorWhite);
          }

          .cs-text {
              opacity: 0.8;
          }

          .cs-picture {
              &:before {
                  background-color: var(--accent);
                  opacity: .3;
              }
          }
      }
  }
}

                              

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-434 {
      padding: var(--sectionPadding);

      .cs-container {
          width: 100%;
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* 48px - 64px */
          gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
          /* set text align to left if content needs to be left aligned */
          text-align: center;
          width: 100%;
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: center;
      }

      .cs-grid {
          display: grid;
          /* 12 so we can have rows of 3 and rows with 2 50/50 images */
          grid-template-columns: repeat(12, 1fr);
          /* 12px - 30px */
          grid-gap: clamp(0.75rem, 1.5vw, 1.875rem);
          grid-template-rows: repeat(6, 0.34fr);
      }

      .cs-picture {
          border-radius: (8/16rem);
          /* clips corners of img tags */
          overflow: hidden;
          position: relative;
          display: block;

          img {
              width: 100%;
              height: 100%;
              /* makes image behave like a background image */
              object-fit: cover;
          }
      }

      .cs-picture1 {
          display: none;
      }
      .cs-picture2 {
          grid-column: ~"1 / 9";
          grid-row: ~"1 / 3";
      }
      .cs-picture3 {
          grid-column: ~"9 / 13";
          grid-row: ~"1 / 1";
      }
      .cs-picture4 {
          grid-column: ~"1 / 7";
          grid-row: ~"4 / 5";
      }
      .cs-picture5 {
          grid-column: ~"7 / 13";
          grid-row: ~"4 / 6";
      }
      .cs-picture6 {
          display: none;
      }
      .cs-picture7 {
          grid-column: ~"1 / 5";
          grid-row: ~"3 / 4";
      }
      .cs-picture8 {
          grid-column: ~"5 / 9";
          grid-row: ~"3 / 4";
      }
      .cs-picture9 {
          grid-column: ~"9 / 13";
          grid-row: ~"2 / 4";
      }
      .cs-picture10 {
          grid-column: ~"1 / 7";
          grid-row: ~"5 / 7";
      }
      .cs-picture11 {
          grid-column: ~"7 / 13";
          grid-row: ~"6 / 7";
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-434 {
      padding-left: 0;
      padding-right: 0;
      .cs-grid {
          grid-template-columns: repeat(6, 1fr);
          grid-template-rows: repeat(3, 0.45fr);
      }
      .cs-picture1 {
          border-radius: 0 (8/16rem) (8/16rem) 0;
          display: block;
          grid-column: ~"1 / 3";
          grid-row: ~"1 / 2";
      }
      .cs-picture2 {
          grid-column: ~"3 / 5";
          grid-row: ~"1 / 3";
      }
      .cs-picture3 {
          grid-column: ~"5 / 6";
          grid-row: ~"1 / 1";
      }
      .cs-picture4 {
          border-radius: (8/16rem) 0 0 (8/16rem);
          grid-column: ~"6 / 7";
          grid-row: ~"1 / 1";
      }
      .cs-picture5 {
          display: none;
      }
      .cs-picture6 {
          border-radius: 0 (8/16rem) (8/16rem) 0;
          display: block;
          grid-column: ~"1 / 3";
          grid-row: ~"2 / 4";
      }
      .cs-picture7 {
          grid-column: ~"3 / 4";
          grid-row: ~"3 / 4";
      }
      .cs-picture8 {
          grid-column: ~"4 / 5";
          grid-row: ~"3 / 4";
      }
      .cs-picture9 {
          grid-column: ~"5 / 6";
          grid-row: ~"2 / 4";
      }
      .cs-picture10 {
          border-radius: (8/16rem) 0 0 (8/16rem);
          grid-column: ~"6 / 7";
          grid-row: ~"2 / 4";
      }
      .cs-picture11 {
          display: none;
      }
  }
}

/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
  #gallery-434 {
      .cs-grid {
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: repeat(3, 0.4fr);
      }

      .cs-picture4 {
          border-radius: (8/16rem);
      }

      .cs-picture5 {
          border-radius: (8/16rem) 0 0 (8/16rem);
          display: block;
          grid-column: ~"7 / 8";
          grid-row: ~"1 / 3";
      }

      .cs-picture10 {
          border-radius: (8/16rem);
      }

      .cs-picture11 {
          border-radius: (8/16rem) 0 0 (8/16rem);
          display: block;
          grid-column: ~"7 / 8";
          grid-row: ~"3 / 4";
      }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
      #gallery-434 {
          .cs-topper {
              color: var(--primaryLight);
          }

          .cs-title {
              color: var(--bodyTextColorWhite);
          }
      }
  }
}

                              

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #review {
    /* Centers the button */
    background-color: #f1f1f1;
    text-align: center;
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
    }

    .quote {
      display: flex;
      flex-direction: column;
      gap: (20/16rem);
      justify-items: center;
      justify-content: center;
      align-items: center;
    }

    .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: (16/16rem);
      display: block;
      text-align: center;
    }

    .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: center;
      max-width: (700/16rem);
      margin: 0 auto (16/16rem);
      color: var(--headerColor);
      position: relative;
    }

    .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5rem;
      text-align: center;
      width: 100%;
      max-width: (650/16rem);
      margin: 0 auto;
      /* 88px - 104px */
      margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
      color: var(--bodyTextColor);
    }

    .cs-card-group {
      padding: 0;
      /* 48px - 64px */
      margin: 0 auto clamp(3rem, 5vw, 4rem);
    }

    .cs-item {
      text-align: left;
      list-style: none;
      width: 100%;
      max-width: (542/16rem);
      margin: 0 auto (64/16rem);
      /* Padding L & R - 16px - 32px */
      padding: (60/16rem) clamp(1rem, 3.2vw, 2rem) 0;
      /* 32px - 40px */
      padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
      box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
      border-radius: (4/16rem);
      background: #fff;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      /* Prevents padding from affecting height & width */
      box-sizing: border-box;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .cs-item-img {
      width: (80/16rem);
      height: (80/16rem);
      position: absolute;
      top: (-40/16rem);
    }

    .cs-item-p {
      font-size: (16/16rem);
      line-height: 1.5em;
      margin: 0 0 (20/16rem);
      padding-bottom: (20/16rem);
      color: var(--bodyTextColor);
      border-bottom: 1px solid #e8e9ec;
    }

    .cs-reviewer {
      font-size: (16/16rem);
      line-height: 1.5em;
      font-weight: 700;
      width: 40%;
      margin: 0 auto 0 0;
      display: block;
      color: var(--headerColor);
    }

    .cs-desc {
      font-size: (14/16rem);
      font-weight: 400;
      color: var(--label);
      display: block;
    }

    .cs-item-stars {
      width: (96/16rem);
      height: (16/16rem);
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #reviews {
    .cs-card-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: (16/16rem);
    }

    .cs-item {
      /* reset margin so it won't interfere with flexbox */
      margin: 0;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode {
    #reviews {
      .cs-title,
      .cs-text,
      .cs-item-p,
      .cs-reviewer {
        color: var(--bodyTextColorWhite);
      }

      .cs-item {
        background: var(--medium);
      }

      .cs-desc {
        color: var(--primaryLight);
      }
    }
  }
}

/*-- -------------------------- -->
<---          FAQ               -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #faq {
      padding: var(--sectionPadding);
      position: relative;
  
      .f-header {
        width: 100%;
        max-width: (1200/16em);
        justify-content: center;
        text-align: center;
        align-content: center;
        margin: auto;
        padding-bottom: (45/16em);
      }
  
      .f-title {
        font-size: var(--headerFontSize);
        padding-bottom: (8/16em);
        padding-top: (8/16em);
      }
  
      .flex-accordion {
        width: 100%;
        max-width: (1200/16em);
        margin: auto;
        justify-content: center;
        align-content: center;
      }
  
      .accordion,
      .accordion1,
      .accordion2,
      .accordion3,
      .accordion4,
      .accordion5,
      .accordion6,
      .accordion7 {
        max-width: (450/16em);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        border-radius: (5/16em);
        margin: auto;
        margin-bottom: (15/16em);
      }
  
      .accordion__label,
      .accordion__content {
        padding: (14/16em) (10/16em);
      }
  
      .accordion__label {
        display: block;
        color: #000;
        font-weight: 600;
        cursor: pointer;
        position: relative;
        font-size: clamp(1.1rem, 1.6vw, 1.2rem);
        padding-right: (21/16em);
      }
  
      .accordion__label::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: (15/16em);
        height: (6/16em);
        width: (12/16em);
        background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%2300000099;" /></svg>');
        background-size: contain;
        transition: transform 0.5s;
      }
  
      .accordion__content {
        line-height: 1.6em;
        padding-bottom: (10/16em);
        display: none;
      }
  
      .accordion__input {
        display: none;
      }
  
      .accordion__input:checked ~ .accordion__content {
        display: block;
      }
  
      .accordion__input:checked ~ .accordion__label::after {
        transform: translateY(-50%) rotate(0.5turn);
      }

      .fbut {
        text-align: center;
        padding-top: (20/16em);
      }
    }
  }
  
  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #faq {
        .accordion,
        .accordion1,
        .accordion2,
        .accordion3,
        .accordion4,
        .accordion5,
        .accordion6,
        .accordion7 {
          background-color: var(--primary);
        }
  
        .accordion__label {
          color: #fff;
        }
      }
    }
  }
  
  /* Tablet - 768px */
  @media only screen and (min-width: 820px) {
    #faq {
      .flex-accordion {
        display: grid;
        grid-template-columns: repeat(2, 40vw);
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: baseline;
        width: 100%;
        max-width: (1200/16em);
        gap: (10/16em);
      }
  
      .l-accordion {
        width: 100%;
        max-width: (450/16em);
        justify-items: center;
        margin-left: auto;
      }
  
      .r-accordion {
        width: 100%;
        max-width: (450/16em);
        margin-right: auto;
      }
    }
  }

/*-- -------------------------- -->
<---           Blog             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #blog-1580 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;
      
      .cs-container {
          width: 100%;
          /* changes to 1280px at tablet */
          max-width: (584/16rem);
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* 48px - 64px */
          gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
          /* set text align to left if content needs to be left aligned */
          text-align: left;
          width: 100%;
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: flex-start;
      }
  
      .cs-title {
          max-width: 20ch;
      }

      .cs-button-solid {
          font-size: (16/16rem);
          /* 46px - 56px */
          line-height: clamp(2.875rem, 5.5vw, 3.5rem);
          text-decoration: none;
      font-weight: 700;
        text-align: center;
          margin: 0;
          color: #fff;
          min-width: (200/16rem);
          padding: 0 (24/16rem);
          background-color: var(--primary);
          display: inline-block;
          position: relative;
          z-index: 1;
          /* prevents padding from adding to the width */
          box-sizing: border-box;
          transition: color .3s;

          &:before {
              content: '';
              position: absolute;
              height: 100%;
              width: 0%;
              background: #000;
              opacity: 1;
              top: 0;
              left: 0;
              z-index: -1;
              transition: width .3s;
          }

          &:hover {
              color: #fff;
              &:before {
                  width: 100%;
              }
          }
      }

      .cs-card-group {
          width: 100%;
          padding: 0;
          margin: 0;
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          row-gap: (28/16rem);
          /* 16px - 20px */
          column-gap: clamp(1rem, 2.5vw, 1.25rem);
      }

      .cs-item {
          text-align: left;
          list-style: none;
          overflow: hidden;
          grid-column: span 12;
          position: relative;
          z-index: 1;
          transition: box-shadow .3s, transform .3s;

          &:hover {
              .cs-picture {
                  img {
                      opacity: .3;
                      transform: scale(1.1);
                  }
              }

              .cs-h3 {
                  color: var(--primary);
              }
          }
      }

      .cs-link {
          text-decoration: none;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }

      .cs-picture {
          width: 100%;
          min-height: (220/16rem);
          /* changes at tablet */
          max-height: (300/16rem);
          height: 100vw;
          /* 16px - 24px */
          margin: 0 0 clamp(1rem, 3vw, 1.5rem) 0;
          background-color: #1a1a1a;
          overflow: hidden;
          display: block;
          /* prevents flexbox from squishing it */
          flex: none;
          position: relative;
          z-index: 1;

          img {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              object-fit: cover;
              transition: transform .6s, opacity .3s;
          }
      }

      .cs-flex {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          position: relative;
          z-index: 2;
      }

      .cs-date {
          font-size: (16/16rem);
          line-height: 1.2em;
          font-weight: 700;
          text-align: inherit;
          margin: 0 0 (32/16rem) 0;
          padding: (8/16rem) (16/16rem);
          /* prevents padding from affecting height and width */
          box-sizing: border-box;
          background-color: #D1D3D4;
          color: #1a1a1a;
          display: inline-block;
          position: absolute;
          left: (16/16rem);
          bottom: 100%;
          z-index: 2;
      }

      .cs-h3 {
          /* 20px - 25px */
          font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
          text-align: inherit;
          line-height: 1.2em;
          font-weight: 700;
          color: var(--headerColor);
          /* 12px - 16px */
          margin: 0 0 clamp(.75rem, 2vw, 1rem) 0;
          transition: color .3s;
      }

      .cs-item-text {
          /* 14px - 16px */
          font-size: clamp(.875rem, 1.5vw, 1rem);
          line-height: 1.5em;
          text-align: inherit;
          margin: 0;
          color: var(--bodyTextColor);
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #blog-1580 {
      .cs-container {
          max-width: (1280/16rem);
      }

      .cs-content {
          text-align: left;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;
      }

      .cs-title {
          margin: 0;
      }

      .cs-item {
          grid-column: span 4;
      }

      .cs-picture {
          min-height: (180/16rem);
          /* 180px - 284px */
          height: clamp(11.25rem, 23vw, 17.75rem);
          max-height: 100%;
      }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
      #blog-1580 {
          .cs-title, .cs-text, .cs-h3, .cs-item-text {
              color: var(--bodyTextColorWhite);
          }

          .cs-text, .cs-item-text {
              opacity: .8;
          }
      }
  }
}
                                                          