---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- Usage Notes:
We made this stitch to overlap the section below it, so if there's a patterned texture or image background on the next section below, it will overlap on top of it. Other Stitches like this would have a white gap between the cards an the next section. In order to make Stitches like this work, we need to add a padding top on the section below it to counteract the overlap. 

ON MOBILE (360px): add padding-top: (654/16rem); using LESS, or padding-top: calc(654 / 16 * 1rem); if you're using SCSS, or padding-top: 40.875rem; if you're just using vanilla CSS.

ON TABLET (768px): Reset to padding-top: (230/16rem); using LESS, padding-top: calc(230 / 16 * 1rem) for SCSS or padding-top: 15.625rem; for CSS

Doing this will complete the overlapping "breaking the container" look.
-->

<!-- Usage Notes:
We made this stitch to overlap the section below it, so if there's a patterned texture or image background on the next section below, it will overlap on top of it. Other Stitches like this would have a white gap between the cards an the next section. In order to make Stitches like this work, we need to add a padding top on the section below it to counteract the overlap. 

ON MOBILE (360px): add padding-top: (654/16rem); using LESS, or padding-top: calc(654 / 16 * 1rem); if you're using SCSS, or padding-top: 40.875rem; if you're just using vanilla CSS.

ON TABLET (768px): Reset to padding-top: (230/16rem); using LESS, padding-top: calc(230 / 16 * 1rem) for SCSS or padding-top: 15.625rem; for CSS

Doing this will complete the overlapping "breaking the container" look.
-->

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1250">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Building Better, Together. Join Our Landscaping Journey</h1>
            <p class="cs-text">
                Transforming spaces, enhancing lives. Let us help you create the perfect environment for your needs.
            </p>
            <a href="" class="cs-button-solid">Get A Quote</a>
        </div>
       

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg" alt="construction" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                Services 1                    -->
<!-- ============================================ -->

<section id="services" class="services">
    <!-- Get Icons From flaticon.com -->
    <div class="card">
        <picture>
            <img class="light" aria-hidden="true" decoding="async" src="/assets/svgs/flower.svg" alt="icon" width="64" height="64">
            <img class="dark" aria-hidden="true" decoding="async" src="/assets/svgs/flower.svg" alt="icon" width="64" height="64">
        </picture>
        <h2 class="cs-title">Custom Landscaping Designs</h2>
        <p class="cs-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur sed inventore, nemo commodi in sapient
    </div>
    <div class="card">
        <picture>
            <img class="light" aria-hidden="true" decoding="async" src="/assets/svgs/people.svg" alt="icon" width="64" height="64">
            <img class="dark" aria-hidden="true" decoding="async" src="/assets/svgs/people.svg" alt="icon" width="64" height="64">
        </picture>
        <h2 class="cs-title">Professional Teams</h2>
        <p class="cs-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium id hic corporis quaerat omnis aspernatur e
        </p>
    </div>
    <div class="card">
        <picture>
            <img class="light" aria-hidden="true" decoding="async" src="/assets/svgs/schedule.svg" alt="icon" width="64" height="64">
            <img class="dark" aria-hidden="true" decoding="async" src="/assets/svgs/schedule.svg" alt="icon" width="64" height="64">
        </picture>
        <h2 class="cs-title">Dependable Scheduling</h2>
        <p class="cs-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, facere? Obcaecati impedit libero delectus, d 
        </p>
    </div>
</section>
                                

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-524">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Who We Are</span>
            <h2 class="cs-title">Experienced Landscape Design For Houston TX</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate commodi et tempore sed vel explicabo maiores, perspiciatis saepe pariatur, repellendus illum iure, totam suscipit quidem perferendis vitae ullam repudiandae nemo?
            </p>
            <p class="cs-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate commodi et tempore sed vel explicabo maiores, perspiciatis saepe pariatur, repellendus illum iure, totam suscipit quidem perferendis vitae ullam repudiandae nemo?  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate commodi et tempore sed vel explicabo maiores, perspiciatis saepe pariatur, repellendus illum iure, totam suscipit quidem perferendis vitae ullam repudiandae nemo?
            </p>
            <div class="cs-flex-group">
              <p class="cs-flex-p">
                Our expert designers and crew work as hard as possible to ensure each
                and every customer has their dream landscape at the end of each
                project.
              </p>
              <span class="cs-name">{{client.founder}}</span>
              <span class="cs-job">Founder</span>
              <img
                class="cs-quote-icon"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                alt="gavel"
                width="136"
                height="77"
              />
            </div>
            <a href="" class="cs-button-solid">Read More</a>
        </div>
        <div class="cs-image-group">
            <!--Large Image-->
            <picture class="cs-picture cs-picture-large">
                <source media="(max-width: 600px)" srcset="/assets/images/cabinets.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/cabinets.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/cabinets.jpg" alt="lab" width="334" height="380">
            </picture>
            <!--Small Image-->
            <picture class="cs-picture cs-picture-small">
                <source media="(max-width: 600px)" srcset="/assets/images/landing.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/landing.jpg" alt="lab" width="183" height="158">
            </picture>
        </div>
    </div>
</section>
                                

 <!-- ============================================ -->
<!--                 Services                     -->
<!-- ============================================ -->

<section id="grids">
  <div class="florida">
    <h2 class="care">We Collaborate, We Create, and We Care.</h2>
    <span class="cs-topper"
      >Professional Landscaping Services Near You in
      {{client.address.state}}</span
    >
  </div>
  <div class="grid-1">
    <div class="box1">
      <picture class="s-pic s-pic1">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 850 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 850 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 850 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 1032 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 1032 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 1032 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 1032 }) | jpeg %}" alt="" width="652" height="516" loading="lazy" decoding="async" aria-hidden="true">
      </picture>
      <h3 class="gt">Landscaping</h3>
      <a href="/landscaping" class="cs-button-solid">Landscaping</a>
    </div>
    <div class="box2">
      <picture class="s-pic s-pic2">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 210 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 210 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 210 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 500 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 500 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 500 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 500 }) | jpeg %}" alt="" width="652" height="250" loading="lazy" decoding="async" aria-hidden="true">
        </picture>
      <h3 class="gt">Pavers</h3>
      <a href="/services#pw" class="cs-button-solid">Pavers</a>
    </div>
    <div class="box3">
      <picture class="s-pic s-pic3">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 210 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 210 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 210 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 500 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 500 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 500 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 500 }) | jpeg %}" alt="" width="652" height="250" loading="lazy" decoding="async" aria-hidden="true">
        </picture>
      <h3 class="gt">Plant Beds</h3>
      <a href="/services#pb" class="cs-button-solid">Plant Beds</a>
    </div>
    <div class="box4">
      <picture class="s-pic s-pic4">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 210 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 210 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 210 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 500 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 500 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 500 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 500 }) | jpeg %}" alt="" width="652" height="250" loading="lazy" decoding="async" aria-hidden="true">
        </picture>
      <h3 class="gt">Fire & Water Features</h3>
      <a href="/services#fw" class="cs-button-solid">Fire & Water Features</a>
    </div>
    <div class="box5">
      <picture class="s-pic s-pic5">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 210 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 210 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 210 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 500 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 500 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 500 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 500 }) | jpeg %}" alt="" width="652" height="250" loading="lazy" decoding="async" aria-hidden="true">
        </picture>
      <h3 class="gt">Outdoor Kitchens</h3>
      <a href="/services#ok" class="cs-button-solid">Outdoor Kitchens</a>
    </div>
    <div class="box6">
      <picture class="s-pic s-pic6">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 576 , height: 460 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 850 }) | avif %}" type="image/avif">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 850 }) | webp %}" type="image/webp">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 944 , height: 850 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 1032 }) | avif %}" type="image/avif">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 1032 }) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 1032 }) | jpeg %}" type="image/jpeg">
        <img src="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 1304, height: 1032 }) | jpeg %}" alt="" width="652" height="516" loading="lazy" decoding="async" aria-hidden="true">
      </picture>
      <h3 class="gt">Fencing</h3>
      <a href="/services#p" class="cs-button-solid">Fencing</a>
    </div>
  </div>
</section>                               

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps" class="standard">
    <h2 class="title">Our Custom Closet Process From Start to Finish
    </h2>
    <p>
        We Specialize In The Management And Interior Design Of Custom Storage And Organization Systems And Units
    </p>
    <div class="reviews-box">
        <div class="card">
            <span class="name">Design Consultation</span>
            <p class="cs-text">
                We begin our process with a FREE design consultation. We then take measurements of your space, a note of your needs, overall goals, and preferred design style.
            </p>
        </div>
        <div class="card">
            <span class="name">Customized Design</span>
            <p class="cs-text">
                During this stage, our team will create a custom 3D design for your space. Once approved, we will then discuss the timeframe for the project, and associated costs.
            </p>
        </div>
        <div class="card">
            <span class="name">Project Creation</span>
            <p class="cs-text">
                We turn your idea into a reality with our dedicated team working to ensure every detail matches.
            </p>
        </div>
        <div class="card">
            <span class="name">Approval</span>
            <p class="cs-text">
                We schedule a time for our team to come to your home and walk through every detail with you.
            </p>
        </div>
    </div>
    <a href="/contact" class="cs-button-solid">Get Free Consultation</a>
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/landing.jpg" alt="closet storage" width="275" height="132">
        </picture>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1362">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/construction.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/construction.jpg" alt="people" width="605" height="690">
            </picture>
            <div class="cs-box">
                <img class="cs-box-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/gear-white.svg" alt="people" width="60" height="60">
                <span class="cs-desc">
                    100+ Happy Customers and Growing
                </span>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Why choose us</span>
            <h2 class="cs-title">Any Property, Any Size. We Build It All For Houston, TX.</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, nam quibusdam! Quia porro ex odit harum quos nulla animi error neque ad, repudiandae eligendi consectetur dolorum minima. Provident, cum doloremque?
            </p>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/flower.svg" alt="icon" width="32" height="32">
                        Quality Services
                    </h3>
                    <p class="cs-item-text">
                        There are many variations of but the majority is simply free suffered.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/people.svg" alt="icon" width="32" height="32">
                        Dedicated Team
                    </h3>
                    <p class="cs-item-text">
                        There are many variations of but the majority is simply free suffered.
                    </p>
                </li>
            </ul>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    Lorem ipsum dolor sit amet consectetur 
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    Lorem ipsum dolor sit amet consectetur
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    Lorem ipsum dolor sit amet consectetur
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    Lorem ipsum dolor sit amet consectetur
                </li>
            </ul>
            <a href="" class="cs-button-solid">Discover More</a>
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>
                                
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-579">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/room.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/room.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/room.jpg" alt="room" width="494" height="700">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">What We Do</span>
            <h2 class="cs-title">We Build More Than Just Plant Beds</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </p>
            <p class="cs-text">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
            <a href="" class="cs-button-solid">Get Free Quote</a>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery">
    <div class="cs-container">
        <span class="cs-topper">Our Portfolio</span>
        <h2 class="cs-title">Et orci volutpat, back up generator installations</h2>
        <div class="cs-image-group">
            <!-- Row 1-->
            <div class="cs-row cs-row-1">
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port1.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port4.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port7.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Row 2 -->
            <div class="cs-row cs-row-2">
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port2.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port8.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Row 3 -->
            <div class="cs-row cs-row-3">
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port6.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port9.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                </picture>

            </div>
        </div>
        <a href="/projects" class="cs-button-solid">View Full Gallery</a>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews">
    <div class="cs-container">
        <span class="cs-topper">Our Reviews</span>
        <h2 class="cs-title">Words From Our Customers</h2>
        <p class="cs-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
        </p>
        <ul class="cs-card-group">
            <!-- Review 1 -->
            <li class="cs-item">
                <img
                class="cs-item-img"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                alt="profile picture"
                width="80"
                height="80"/>
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jon Doe
                    <span class="cs-desc">Homeowner</span>
                </span>
                <img
                class="cs-item-stars"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                alt="stars"
                width="96"
                height="16"/>
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img
                class="cs-item-img"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                alt="profile picture"
                width="80"
                height="80"/>
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jane Doe
                    <span class="cs-desc">Homeowner</span>
                </span>
                <img
                class="cs-item-stars"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                alt="stars"
                width="96"
                height="16"/>
            </li>
        </ul>
        <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
    </div>
</section>

<!-- ============================================ -->
<!--                   FAQ                        -->
<!-- ============================================ -->

<section id="faq">
  <div class="f-header">
    <h2 class="f-title">Frequently Asked Questions</h2>
  </div>
  <div class="flex-accordion">
    <div class="l-accordion">
      <div class="accordion">
        <div>
          <input
            type="checkbox"
            name="faq_accordion"
            id="section1"
            class="accordion__input"
          />
          <label for="section1" class="accordion__label"
            >How do I get started with landscaping?</label
          >
          <div class="accordion__content">
            <p>
              Getting started is easy! Simply fill out our contact form or give
              us a call to schedule a free consultation. We'll discuss your
              vision, assess your space, and provide a detailed proposal to
              bring your dream landscape to life.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion1">
        <div>
          <input
            type="checkbox"
            name="faq_accordion"
            id="section2"
            class="accordion__input"
          />
          <label for="section2" class="accordion__label"
            >How long does landscaping take?</label
          >
          <div class="accordion__content">
            <p>
              The timeline for a project can vary based on its scope and
              complexity. However, most projects are completed within 2-4 weeks.
              During your consultation, we&apos;ll provide a more specific
              timeframe tailored to your project.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion2">
        <div>
          <input
            type="checkbox"
            name="faq_accordion"
            id="section3"
            class="accordion__input"
          />
          <label for="section3" class="accordion__label"
            >What if I have a small yard?</label
          >
          <div class="accordion__content">
            <p>
              We specialize in making the most of any space, big or small. Our
              team is skilled at creating innovative solutions to maximize the
              potential of smaller yards, turning them into beautiful and
              functional outdoor areas.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion3">
        <div>
          <input
            type="checkbox"
            name="faq_accordion"
            id="section4"
            class="accordion__input"
          />
          <label for="section4" class="accordion__label"
            >Are your plants and materials high quality?</label
          >
          <div class="accordion__content">
            <p>
              We take pride in using only the highest quality plants and
              materials for all our projects. This ensures that your landscape
              not only looks stunning but also stands the test of time. Quality
              is our commitment to you.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="r-accordion">
      <div class="accordion4">
        <div>
          <input
            type="checkbox"
            name="faq_accordion"
            id="section5"
            class="accordion__input"
          />
          <label for="section5" class="accordion__label"
            >Can landscaping improve property value?</label
          >
          <div class="accordion__content">
            <p>
              A well-designed and maintained landscape can significantly
              increase your property&apos;s curb appeal and market value.
              Prospective buyers often see a beautiful yard as a sign of a
              well-cared-for home, making it more attractive and potentially
              selling for a higher price.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion5">
        <div>
          <input
            type="checkbox"
            name="faq_accordion"
            id="section6"
            class="accordion__input"
          />
          <label for="section6" class="accordion__label"
            >Can landscaping help with privacy?</label
          >
          <div class="accordion__content">
            <p>
              Absolutely! We can design and install features like privacy
              hedges, fences, and strategically placed trees and shrubs to
              create a secluded and peaceful outdoor retreat, shielding your
              home from prying eyes and reducing noise pollution.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion6">
        <div>
          <input
            type="checkbox"
            name="faq_accordion"
            id="section7"
            class="accordion__input"
          />
          <label for="section7" class="accordion__label"
            >Can a landscape suit my lifestyle?
          </label>
          <div class="accordion__content">
            <p>
              Yes, we tailor our designs to match your lifestyle and
              preferences. Whether you want a space for entertaining guests, a
              safe play area for children, or a quiet retreat for relaxation,
              we&apos;ll create a landscape that meets your needs and enhances
              your daily life.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion7">
        <div>
          <input
            type="checkbox"
            name="faq_accordion"
            id="section8"
            class="accordion__input"
          />
          <label for="section8" class="accordion__label"
            >Does landscaping benefit the environment?</label
          >
          <div class="accordion__content">
            <p>
              Landscaping contributes to a healthier environment by improving
              air quality, reducing soil erosion, and providing habitats for
              wildlife. We use eco-friendly practices and native plants to
              create sustainable landscapes that support local ecosystems.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fbut">
    <a href="/faq" class="cs-button-solid">More FAQ</a>
  </div>
  
</section>

<!-- ============================================ -->
<!--                    Blog                      -->
<!-- ============================================ -->

<section id="blog-1580">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-content-flex">
                <span class="cs-topper">News And Articles</span>
                <h2 class="cs-title">Directly From The Latest News and Articles</h2>
            </div>
            <a href="" class="cs-button-solid">View All</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing4.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing4.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing4.jpg" alt="people" width="413" height="284">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-date">8th Oct, 2025</span>
                        <h3 class="cs-h3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum unde</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum unde...
                        </p>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing5.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing5.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing5.jpg" alt="people" width="413" height="284">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-date">8th Oct, 2025</span>
                        <h3 class="cs-h3">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum unde
                        </h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum unde...
                        </p>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing6.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing6.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing6.jpg" alt="people" width="413" height="284">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-date">8th Oct, 2025</span>
                        <h3 class="cs-h3">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum unde
                        </h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum unde...
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
                                
                                
{% include "components/cta.html" %}

{% endblock %}